/*
 * jQuery FlexSlider v1.8
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 	body, html{
height: 100%;
padding: 0;
margin: 0;
}
.flexslider{
display: block;
position: relative; 
height: 100%!important;
overflow: hidden!important;
width: 100%!important;
}

.flexslider .slides,
.flexslider .slides li{
width: 100%!important;
height: 100%!important;
}

.flexslider .slides img{
min-height: 100%;
min-width: 100%;
max-width: 10000%!important;
margin: 0 auto!important;
}
.flex-caption {
position: relative;
-webkit-animation: slideIn;
-moz-animation: slideIn;
-o-animation: slideIn;
animation: slideIn;
-webkit-animation-duration: 2s;
-moz-animation-duration: 2s;
-o-animation-duration: 2s;
animation-duration: 2s;
}
@-webkit-keyframes slideIn { 0% { left: -35%; opacity: 0; }
100% { left: 0; opacity: 1; } }
@-moz-keyframes slideIn { 0% { left: -35%; opacity: 0; }
100% { left: 0; opacity: 1; } }
@-o-keyframes slideIn { 0% { left: -35%; opacity: 0; }
100% { left: 0; opacity: 1; } }
@keyframes slideIn { 0% { left: -35%; opacity: 0; }
100% { left: 0; opacity: 1; } }
/* Browser Resets */
.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {width: 100%; margin: 0; padding: 0;}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

/* Caption style */
/* IE rgba() hack */
.flex-caption {
background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
.flex-caption {
	bottom: 45%;
	color: #fff;
	display: block;
	left: 0;
	min-height: 200px;
	overflow: hidden;
	padding: 0px 2%;
	position: absolute;
	right: 0;
	text-align: center;
	top: 40%;
}
.flex-caption h2{
	font-size:52px;
	text-transform:uppercase;
	font-weight: 600;
}
.flex-caption h2 span{
	color:#36c6f4;
}
.flex-caption .btn-blue.btn-blue-lg{
	background:#36c6f4;
	color:#fff;
	margin:0px;
	border:none;
	margin-top:10px;
}
.flex-caption .btn-blue.btn-blue-lg:hover{
	background:#212121;
}

/* Direction Nav */
.flex-direction-nav li a {
	background:#212121;
    cursor: pointer;
    display: block;
    margin: -13px 0 0;
    position: absolute;
    top: 50%;
	transition: all 0.5s ease 0s;
	border-radius:4px;
	-moz-border-radius:4px; 
	-webkit-border-radius:4px;
}
.flex-direction-nav li a:hover{
	background:#373A3F;
}
.flex-direction-nav li a.next .fa.fa-chevron-right, .flex-direction-nav li a.prev .fa.fa-chevron-left {
  color: #fff;
  display: block;
  padding: 12px;
  transition: all 0.5s ease 0s;
}

.flex-direction-nav li .next {right: 10px;}
.flex-direction-nav li .prev {left: 10px;}
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -30px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; background: url(theme/bg_control_nav.png) no-repeat 0 0; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}