#preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100000000;
	background: #ffffff url('../images/Preloader_1.gif') center center no-repeat;
}

.own-input-form {
    margin-top: 17px;
    margin-bottom: 2px !important;
}

.form-error {
    color: red;
}

.input-error-message {
	font-size: 12px;
	color:red
}

.custom-section {
	margin-top: 0px;
	margin-bottom: 40px;
	padding: 0 !important;
}

.custom-section .fan-facts{
	padding: 20px 0;
}

.custom-page-title{
	color:white;
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 20px;
}

.custom-page-title-description{
	color:white;
	font-size: 16px;
	margin-bottom: 30px;
}
md-backdrop.md-select-backdrop {
	z-index:103 !important;
}

.md-select-menu-container {
	z-index:104 !important;
}

.inactive-menu-link {
	color: #000000;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 80px;
	font-size: 14px;
	filter: alpha(opacity=20);
	opacity: 0.2;
}
.event-manage-info {
	margin-top: 30px;
}

.grid-left-zero {
	padding-left: 0 !important;
}

.error-md {
	position: absolute;
	margin-top: -40px
}

.error-md-select {
	 position: absolute;
	 margin-top: -10px
 }

.error-md-regulation {
	position: absolute;
	margin-top: -16px
}

.custom-select-label{
	font-size: 11px;
	color: grey;
}

.btn1:not([disabled]):hover {
	background-color: #36c6f4;
	color: white;
}

.md-button-custom {
	margin-top: 30px !important;
	height: 60px !important;
	padding-right: 25px !important;
	padding-left: 25px !important;
	border: 3px solid #36c6f4 !important;
	font-weight: bold !important;
}

md-input-container.md-default-theme.md-input-focused:not(.md-input-invalid) .md-input, md-input-container.md-input-focused:not(.md-input-invalid) .md-input{
	border-color: #36c6f4 !important;
}

md-input-container.md-default-theme.md-input-focused:not(.md-input-invalid) label, md-input-container.md-input-focused:not(.md-input-invalid) label {
	color: #36c6f4 !important;
}

.custom-form-body-active {
	margin-top:70px;
	margin-bottom:50px;
}

.custom-form-body-inactive {
	margin-top:100px;
	margin-bottom:50px;
}

.payments_status {
	font-weight: bold;
	width: 120px;
	color:white;
}

.payments_status_payed {
	background-color: #5cb85c;
}

.payments_status_not_payed {
	background-color: #d9534f;
}

md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
	background-color: #36c6f4 !important;
}

.regulation-box {
	margin-left: 0 !important;
	width:90%
}

.footer-payment {
	margin-left:-35px;
}

.content-menu-margin {
	margin-top: 90px;
}

.angular-google-map-container {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: color;
}