#particles {
	display: block;
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}
#particles-js {
	width: 100%;
	height: 100%;
	background-color: #222;
	background-image: url('../images/slider/slider-2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
canvas {
	display: block;
	vertical-align: bottom;
}
.morphext > .animated {
	display: inline-block;
}
#particles-js canvas {
	background: rgba(0, 0, 0, 0) url("../images/overlay-pattern.png") repeat scroll 0 0;
}
.particles-caption {
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 44%;
	z-index: 1;
}
.particles-caption h2 {
	font-size: 60px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
}
.particles-caption h2 span {
	color: #36c6f4;
}
.particles-caption p {
	color: #fff;
}
.particles-caption a.btn-blue-lg {
	color: #fff;
}
.particles-caption .btn-blue.btn-blue-lg {
	background: #36c6f4;
	border: medium none;
	color: #fff;
	margin: 10px 0 0;
}
.particles-caption .btn-blue.btn-blue-lg:hover {
	background: #212121;
}
#preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100000000;
	background: #ffffff url('../images/Preloader_1.gif') center center no-repeat;
}

.own-input-form {
    margin-top: 17px;
    margin-bottom: 2px !important;
	margin-right: 1px;
}

.form-error {
    color: red;
}

.input-error-message {
	font-size: 12px;
	color:red
}

.error-md {
	position: absolute;
	margin-top: -40px
}

.error-md-checkbox {
	position: absolute;
	margin-top: -15px
}

.error-md-modal {
	position: fixed;
	margin-top: -40px
}

.spinner-loader div {
	left: 50px !important;
	bottom: 8px  !important;
}


/**eventsList*/

.event-list {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fafafa;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .14);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .14);
}

.event-name {
    font-weight: bold;
}

.event-details {
    padding: 10px 0px;
}

.event-details span {
    margin-right: 8px;
    display: inline-block;
}

@media screen and (max-width: 481px) {
    .event-details span {
        display: block;
        width: 100%;
    }
}

.event-details span i {
    margin-right: 3px;
}

.event-details-active {
    color: #5cb85c;
}

.event-details-inactive {
	color: #d9534f;
}

.event-short-description {
  clear: both;
  display: inline-block;
  margin: 2px 0;
}

.event-buttons ul {
  	margin-top: 20px;
	text-align: center;
}

.event-buttons ul li {
    display: inline-block;
}

.event-buttons ul li a i.glyphicon  {
  background-color: #36c6f4;
  padding: 8px 10px;
  color: #fff;
  font-size: 16px;
  width: 38px;
  margin: 2px 2px;
  transition: all 0.3s ease-in-out 0s;
}
.event-buttons ul li a i.glyphicon:hover {
  background-color: #212121;
  color: #fff;
}

.event-search {
    margin-bottom: 10px;
}

.event-search-button {
    background: #36c6f4 none repeat scroll 0 0;
    color: #fcfcfc;
}

.contentView {
    min-height: 300px;
}

.payments_status {
	font-weight: bold;
	height:20px;
	width: 120px;
	color:white;
}

.payment_edit {
	margin-top: 1px;
	margin-right: 0;
	cursor:pointer;
	color: white;
}

.md-dialog-participant_details {
	max-width: 50%;
	min-width: 400px;
}

.md-toolbar-tools {
	background-color: #36c6f4;
}

.dialog-button {
	color: #36c6f4 !important;
}

.menu_header {
	z-index: 5 !important;
	position: fixed !important;
	margin: 0 !important;
	padding: 0 !important;
}

.link-content {
    background-color: #36c6f4;
    padding: 5px 10px;
    color: #fff;
    font-size: 16px;
    width: 38px;
    margin: 2px 2px;
    transition: all 0.3s ease-in-out 0s;
}

.link-content:hover {
    background-color: #212121;
    color: #fff;
}

.link-content-disable {
    background-color: #bcbcbc;
    padding: 5px 10px;
    color: #fff;
    font-size: 16px;
    width: 38px;
    margin: 2px 2px;
    transition: all 0.3s ease-in-out 0s;
    cursor: not-allowed !important;
}


md-toolbar.md-accent > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]){
	color: grey;
    font-size: 16px;
    background-color: #fafafa;
	font-family: "raleway",Helvetica,Arial,sans-serif !important
}

md-tabs > md-tab{
    background-color: #fafafa;
}

md-toolbar.md-accent > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-active:not([disabled]), md-toolbar.md-accent > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-focused:not([disabled]){
	color: #36c6f4;
    font-size: 16px;
    background-color: #fafafa;
	font-family: "raleway",Helvetica,Arial,sans-serif !important
}

md-toolbar.md-accent > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-ink-bar{
    background: #36c6f4;
}

.manage-tabs-main {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.manage-tabs-side {
    height: 49px;
    border-bottom: rgba(0, 0, 0, 0.08) solid 0.1em;
    background-color: #fafafa;
    width: 100%
}

md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
	background-color: #36c6f4 !important;
 }

.image-upload-area {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	width: 99.9%;
	background-color: rgba(0, 0, 0, 0);
	background-origin: padding-box;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 0;
}

.upload-area {
	border-style: dashed;
	border-color: #b5b2b2;
	border-width: 1px;
	padding: 25px;
	cursor: pointer;
}

.login-link {
	cursor: pointer;
	font-size: 14px;
	padding: 7px 12px 7px 0px
}

.upload-list {
	padding: 0;
	list-style-type: none;
	text-align: center;
	margin-top: 70px;
}

.upload-list-item {
	display: inline-block;
	padding: 15px;
}

.upload-thumb {
	height: 100px;
	display: table-cell;
	vertical-align: middle;
	width: 160px;
}

.upload-thumb canvas {
	max-width: 160px;
	max-height: 100px;
	padding: 5px;
}

.upload-item-progress {
	height: 36px;
	width: 160px;
}

.upload-item-progress-box {
	height: 10px;
	border: 1px grey solid;
}

.upload-item-progress-pointer {
	background-color: #36c6f4;
	height: 100%;
	width: 0;
}

.upload-text {
	text-align: center;
	color: #a7a4a4;
	font-size: 20px;
	margin-top: 70px;
}

.banner-delete {
    max-width: 300px !important;
	background: #36c6f4;
	color: #fff !important;
}

.custom_page_configuration_section{
    width: 99.9%;
    border: 1px solid lightgrey;
    margin-top: 0px;
    padding: 20px;
}

.margin-top-20 {
	margin-top: 20px;
}

.custom-page-title{
	color:white;
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: -80px;
}

.custom-page-title-description{
	color:white;
	font-size: 16px;
	margin-bottom: 30px;
	font-weight: bold;
}

.custom-select-label{
	font-size: 11px;
	color: grey;
}

.custom-add-element{
	margin-top: 23px;
	max-width: 220px !important;
	width: 220px;
	background: #36c6f4;
	height: 42px !important;
	padding: 0 !important;
}

.custom-form-add-element{
	margin-top: 23px;
	max-width: 220px !important;
	width: 220px;
	background: #36c6f4;
	height: 42px !important;
	padding: 0 !important;
}

.custom-form-add-event {
	margin-top: 2px;
	width: 100%;
	max-width: 220px !important;
	background: #36c6f4;
	height: 42px !important;
	padding: 0 !important;
}

.item, .placeholder {
	padding: 13px;
	width: 100%;
	height: 50px;
	border: 1px solid lightgrey;
	background: #fafafa;
	margin-bottom: 10px;
	-webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .14);
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .14);
}

.placeholder {
	background: #AEF;
}

.custom-item-buttons ul {
	text-align: center;
	margin: -8px;
}

.custom-item-buttons ul li {
	display: inline-block;
}

.custom-item-buttons ul li a i.glyphicon  {
	background-color: #36c6f4;
	padding: 8px 10px;
	color: #fff;
	font-size: 16px;
	width: 38px;
	margin: 2px 2px;
	transition: all 0.3s ease-in-out 0s;
}
.custom-item-buttons ul li a i.glyphicon:hover {
	background-color: #212121;
	color: #fff;
}

.custom-sortable-icon {
	color: gray;
	margin: 9px;
	background-color: #fafafa;
}

.custom-modal-footer{
	border-top: none !important;
}

.custom-modal-footer-confirm {
	background-color: #36c6f4 !important;
	border-color: #36c6f4 !important;
}

.custom-modal-header {
	background-color: #36c6f4 !important;
	border-top-left-radius: 6px !important;
	border-top-right-radius: 6px !important;
	-moz-border-radius-topright: 6px !important;
	-moz-border-radius-topleft: 6px !important;
}

.custom-modal {
	margin-top: -2px !important;
	margin-left: -1px !important;
	margin-bottom: 0 !important;
	color: rgba(255, 255, 255, 0.87) !important;
	width: auto !important;
}

.custom-modal-md-textarea{
	margin-top: -20px;
}

.custom-modal-md-container {
	height: 60px !important;
	width:100%
}

body.modal-open {
	overflow: visible !important;
}

.center-modal {
	position:fixed;
	margin-top:5%;
}

.tab-content {
	margin-top: 10px;
}

.grid-left-zero {
	padding-left: 0 !important;
}

.event-manage-info {
	margin-top: 30px;
}

.dtp table.dtp-picker-days tr > td > a.selected {
	background: #36c6f4 none repeat scroll 0 0 !important;
}

.datepicker-custom  > input:focus {
    border-bottom: 2px solid #1A4987;
}

.dtp div.dtp-date, .dtp div.dtp-time {
	background: #36c6f4 none repeat scroll 0 0 !important;
}

.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
	background: #21a1f4 none repeat scroll 0 0 !important;
	font-size: 16px !important;
	font-weight: bold !important;
}

.dtp .dtp-actual-meridien a.selected {
	background: #36c6f4 none repeat scroll 0 0 !important;
}

.dtp .dtp-hand.on {
	background: #36c6f4 none repeat scroll 0 0 !important;
}

.dtp .dtp-picker-time > a.dtp-select-hour.selected {
	background: #36c6f4 none repeat scroll 0 0 !important;
}

.event-list-button-link {
	color: white;
	text-decoration: none;
}

.tab-spinner {
	height:100px
}

.save-spinner {
	margin-top: 20px;
}

.spinner-wrapper {
	position: relative;
	display: block;
	height: 10em;
}

.submit-inactive {
	width: 100px !important;
	background-color: white;
	border: 3px solid lightgrey !important;
	color: lightgrey !important;
}

md-input-container.md-default-theme.md-input-focused:not(.md-input-invalid) .md-input, md-input-container.md-input-focused:not(.md-input-invalid) .md-input{
	border-color: #36c6f4 !important;
}

md-input-container.md-default-theme.md-input-focused:not(.md-input-invalid) label, md-input-container.md-input-focused:not(.md-input-invalid) label {
	color: #36c6f4 !important;
}

.cookie-policy {
	position:fixed;
	height:30px;
	background-color:#fafafa;
	bottom:0px;
	left:0px;
	right:0px;
	font-weight: bold;
	margin-bottom:0px;
}

.cookie-info {
	margin-top: 4px;
	margin-left: 1px;
}

.cookie-close-info {
	position: absolute;
	right: 20px;
}

.summary p {
    border-bottom: 1px solid #36c6f4;
    font-weight: bold;
    padding-top: 15px;
}

.summary-label {
    display: block;
    float: left;
    width: 200px;
}

.summary-price {
    display: block;
    text-align: right;
}

.error-md-regulation {
	position: absolute;
	margin-top: -16px;
	margin-left: 15px;
}

.user-regulation {
	margin-top:15px;
	margin-left:30px
}

.user-regulation2 {
	margin-top:5px;
	margin-left:30px
}

.footer-payment {
	margin-left:-35px;
}

.features {
	font-size: 1.6em !important;
}

.features > li > i {
	color: #36c6f4;
	vertical-align: middle;
	font-size: 2.3em !important;
	margin-right: 0.8vw;
}

.greenBg {
	background-color: #71e200 !important;
}
.greenBg:hover {
	background-color: #316300 !important;
}

.yellowBg {
	background-color: #ebd820 !important;
}

.yellowBg:hover {
	background-color: #706116 !important;
}

.pricing-details ul li:first-child {
	padding-top: 10%;
	padding-bottom: 10%;
	font-size: 1.4em !important;
}

.pricing-top .currency {
	font-size: 1.4em !important;
}

.m-b {
	margin-bottom: 2.5% !important;
}

.m-b-m {
	margin-bottom: 5% !important;
}

.angular-google-map-container {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: color;
}


/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.simpleDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.simpleDemo ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.simpleDemo ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

.simpleDemo ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
.simpleDemo ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

reg-map-edit {
    display: block;
    height: 400px;
    width: 100%;
}

.dndPlaceholder {
    position: relative;
    display: block;
    height: 80px;
    background-color: #cacaca;
    width: 50%;
    float: left;
    margin-bottom: -1px;
}

.event_invitation_form {
    padding: 5px;
    border: 1px solid #cacaca;
    margin-bottom: 20px;
}


.payments_status-3,
.payments_status-10
{
	background-color: #5cb85c;
}

.payments_status-0,
.payments_status-1,
.payments_status-2,
.payments_status-4,
.payments_status-5,
.payments_status-6 {
    background-color: #d9534f;
}

.payments_status-11
{
    background-color: #007fff;
}