@import "../css/reset.css";
@import "../css/flexslider.css";
@import "../css/bootstrap.css";
@import "../css/font-awesome.min.css";
@import "../css/owl/owl.carousel.css";
@import "../css/owl/owl.theme.css";
/*#00ADEF*/
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Raleway-Regular.eot?v=4.4.0');
  src: url('../fonts/Raleway-Regular.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../fonts/Raleway-Regular.woff?v=4.4.0') format('woff2'), url('../fonts/Raleway-Regular.woff?v=4.4.0') format('woff'), url('../fonts/Raleway-Regular.ttf?v=4.4.0') format('truetype'), url('../fonts/Raleway-Regular.svg?v=4.4.0#fontawesomeregular') format('svg');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Raleway-Regular.eot?v=4.4.0');
  src: url('../fonts/Raleway-Regular.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../fonts/Raleway-Regular.woff?v=4.4.0') format('woff2'), url('../fonts/Raleway-Regular.woff?v=4.4.0') format('woff'), url('../fonts/Raleway-Regular.ttf?v=4.4.0') format('truetype'), url('../fonts/Raleway-Regular.svg?v=4.4.0#fontawesomeregular') format('svg');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Raleway-Medium.eot?v=4.4.0');
  src: url('../fonts/Raleway-Medium.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../fonts/Raleway-Medium.woff?v=4.4.0') format('woff2'), url('../fonts/Raleway-Medium.woff?v=4.4.0') format('woff'), url('../fonts/Raleway-Medium.ttf?v=4.4.0') format('truetype'), url('../fonts/Raleway-Medium.svg?v=4.4.0#fontawesomeregular') format('svg');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Raleway-SemiBold.eot?v=4.4.0');
  src: url('../fonts/Raleway-SemiBold.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../fonts/Raleway-SemiBold.woff?v=4.4.0') format('woff2'), url('../fonts/Raleway-SemiBold.woff?v=4.4.0') format('woff'), url('../fonts/Raleway-SemiBold.ttf?v=4.4.0') format('truetype'), url('../fonts/Raleway-SemiBold.svg?v=4.4.0#fontawesomeregular') format('svg');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Raleway-Bold.eot?v=4.4.0');
  src: url('../fonts/Raleway-Bold.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../fonts/Raleway-Bold.woff?v=4.4.0') format('woff2'), url('../fonts/Raleway-Bold.woff?v=4.4.0') format('woff'), url('../fonts/Raleway-Bold.ttf?v=4.4.0') format('truetype'), url('../fonts/Raleway-Bold.svg?v=4.4.0#fontawesomeregular') format('svg');
}
boby {
  background-color: #F1F1F1;
  font-family: 'Raleway', sans-serif;
  transition: all 0.5s ease 0s;
}
input {
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: none;
  padding: 7px 10px;
  width: 100%;
}
.logo img {
  margin: 15px 0;
}
.navbar-header .navbar-toggle .fa.fa-bars {
  font-size: 26px;
}
.margin-top {
  margin-top: 20px;
}
.margin-bottom {
  margin-bottom: 20px;
}
.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}
.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.nav-tabs .dropdown-menu,
.nav-pills .dropdown-menu,
.navbar .dropdown-menu {
  margin-top: 0;
}
.navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px;
}
.navbar .sub-menu:after {
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  left: 10px;
  top: 11px;
  left: -6px;
}
header {
  position: fixed !important;
  z-index: 9999;
  min-height: 80px;
  background-color: rgba(255, 255, 255, 0.95);
  clear: both;
  color: #212121;
  box-shadow: 0 1px 3px rgba(190, 190, 190, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(190, 190, 190, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(190, 190, 190, 0.5);
  left: 0px;
  right: 0px;
  top: 0px;
}
#top-bottom {
  margin-top: -50px;
  position: relative;
  text-align: center;
}
#top-bottom a i.fa {
  color: #fff;
  font-size: 36px;
}
#top-bottom a i.fa:hover {
  color: #36c6f4;
}
.sticky {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
}
#sticky_navigation {
  position: absolute;
}
.search-bar {
  background: rgba(25, 26, 26, 0.89) none repeat scroll 0 0;
  display: none;
  height: 100%;
  padding: 15px 0;
  position: fixed;
  top: 0;
  transition: left 500ms ease-in-out 0s;
  width: 100%;
  z-index: 99999;
}
form.search-form {
  left: 50%;
  max-width: 700px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
a.search {
  text-align: center;
  width: 45px;
}
a.search i.fa {
  font-size: 16px;
}
.search-submit {
  margin-left: -20px;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  border-radius: 0px;
  padding: 40px 20px;
  position: absolute;
  float: left;
}
.search-submit:hover {
  color: #36c6f4;
  transition: all 0.3s ease 0s;
}
.search-bar .search-form input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: -moz-use-text-color -moz-use-text-color #fff;
  border-style: none none solid;
  border-width: medium medium 1px;
  color: #fff;
  font-size: 60px;
  font-weight: 500;
  padding: 20px;
  float: left;
}
.search-bar .search-submit i.fa {
  color: #fff;
  font-size: 50px;
  transition: all 0.3s ease 0s;
}
.search-bar .search-submit i.fa:hover {
  color: #36c6f4;
}
.top-search a.search-header i.fa {
  color: #222;
  font-size: 20px;
  margin: 28px 0;
}
.search-bar a.search-header {
  position: absolute;
  right: 2%;
}
.search-bar a.search-header i.fa {
  color: #fff;
  font-size: 50px;
  transition: all 0.3s ease 0s;
}
.search-bar a.search-header i.fa:hover {
  color: #36c6f4;
}
#breadcrumb-wrapper {
  margin-top: 80px;
  background-color: #36c6f4;
  background-repeat: no-repeat;
  padding: 30px 5px;
  background-size: cover;
}
.breadcrumb-title h2 {
  color: #fff;
  margin: 25px 0;
  text-transform: uppercase;
}
.breadcrumb .active a {
  color: #fff;
}
.breadcrumb > ul > li + li::before {
  color: #fff;
}
.breadcrumb > ul > li > i.fa {
  color: #fff;
  font-size: 18px;
  margin-right: 5px;
}
.breadcrumb > ul > li a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}
.slotholder {
  opacity: 0.9;
}
.tp-caption.logoname {
  font-size: 72px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
}
.tp-caption.logoname .skin-color {
  color: #36c6f4;
}
.tp-caption.slider-text1 {
  color: #fff;
  font-size: 18px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
}
section {
  margin: 0px;
  overflow: hidden;
  padding: 30px 0 10px;
}
h2.section-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 26px;
}
.section-title-caption {
  font-size: 16px;
  margin-bottom: 25px;
}
.main-title-border-center {
  border-bottom: 3px solid #36c6f4;
  margin: 0 auto 15px;
  width: 100px;
}
.main-title-border-left {
  border-bottom: 3px solid #36c6f4;
  margin: 0 0 15px;
  width: 100px;
}
#our-service i.fa {
  border: 3px solid #36c6f4;
  border-radius: 90%;
  display: inline-block;
  font-size: 34px;
  padding: 10px;
  text-align: center;
  color: #36c6f4;
  width: 64px;
  height: 64px;
}
#our-service i.fa:hover {
  background-color: #36c6f4;
  color: #fff;
  transition: all 0.5s ease 0s;
}
.service-item {
  margin: 25px 0 40px;
}
.service-item h2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 20px;
}
.service-item p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
}
.btn-blue {
  border: 3px solid #36c6f4;
  color: #212121;
  display: inline-block;
  font-family: "Raleway";
  transition: all 0.5s ease 0s;
}
.btn-blue-sm {
  padding: 2px 10px;
}
.btn-blue-md {
  padding: 7px 20px;
}
.btn-blue-lg {
  padding: 8px 25px;
  font-size: 18px;
}
a.btn-blue:hover {
  text-decoration: none;
  background: #36c6f4;
  color: #fff;
}
.blog-item {
  border-bottom: 1px solid #ddd;
  margin-bottom: 25px;
  padding-bottom: 25px;
}
.blog-img-full {
  width: 100%;
}
.pagination {
  margin: 20px 0px;
}
.pagination ul li {
  display: inline-block;
}
.pagination ul li a {
  background: #36c6f4 none repeat scroll 0 0;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 14px;
  transition: all 0.3s ease-in-out 0s;
}
.pagination ul li a:hover {
  background: #212121;
}
.pagination ul li a.active {
  background: #212121;
}
.latest-post-item {
  border: 1px solid #ddd;
  margin: 22px 10px;
  padding: 10px 10px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.latest-post-item img {
  opacity: 1;
  transition: all 0.4s ease-in-out 0s;
}
.latest-post-item img:hover {
  opacity: 0.5;
  transform: scale(1.1, 1.1);
}
.latest-post-item p {
  margin-bottom: 20px;
  text-align: justify;
}
.latest-post-img {
  overflow: hidden;
}
.latest-post-item a h2,
.blog-item a h2 {
  font-size: 22px;
  margin: 10px 0;
  color: #212121;
  font-weight: normal;
  transition: all 0.3s ease-in-out 0s;
}
.latest-post-item a h2:hover,
.blog-item a h2:hover {
  color: #36c6f4;
}
.latest-post-item .blog-date-time,
.blog-item .blog-date-time {
  margin-bottom: 10px;
  font-size: 14px;
}
.latest-post-item .comment,
.blog-item .comment,
.sidebar-recent-post-item .comment {
  margin-left: 10px;
  color: #212121;
}
.latest-post-item .author,
.blog-item .author {
  margin-left: 10px;
  color: #212121;
}
.author-comment {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 20px;
}
.author-comment .author-img {
  border: 1px solid #ddd;
  float: left;
  margin-right: 15px;
  width: 50px;
}
.author-comment .a-name {
  float: left;
}
.author-comment .a-name .author-name {
  font-weight: bold;
}
.author-comment .a-name .comment-date {
  font-family: arial;
}
.author-comment .comment {
  clear: both;
  display: inline-block;
  margin: 15px 0;
}
.author-comment.reply-comment {
  margin-left: 50px;
}
.author-comment.reply-comment-two {
  margin-left: 100px;
}
.latest-post-small .latest-post-item a h2 {
  margin-top: 0px;
}
.sidebar .widget {
  margin-bottom: 30px;
  position: relative;
}
.sidebar ul {
  margin: 0px;
  padding: 0px;
}
.sidebar ul li {
  list-style: none;
}
.sidebar ul li a {
  color: #212121;
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none;
  font-size: 15px;
  transition: all 0.3s ease 0s;
}
.sidebar ul li a:hover {
  color: #36c6f4;
}
input#searchsubmit {
  font-family: fontawesome;
  position: absolute;
  right: 0;
  width: auto;
}
.sidebar-title > h3 {
  background: #36c6f4 none repeat scroll 0 0;
  color: #fff;
  font-size: 20px;
  margin: 0 0 10px;
  padding: 8px 10px;
  text-transform: uppercase;
}
.sidebar-recent-post-item {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}
.sidebar-recent-post-item h4 {
  color: #212121;
  font-size: 16px;
  margin: 0 0 10px;
}
.sidebar-recent-post .col-sm-4 {
  padding-right: 0;
}
.call-to-action {
  background: #36c6f4;
  padding: 30px 10px;
}
.call-to-action .pull-left > h4 {
  color: #fff;
  font-weight: 300;
  line-height: 25px;
}
.call-to-action .pull-right a.btn-blue {
  margin: 11px 0;
  background: #fff;
  color: #212121;
  transition: all 0.3s ease 0s;
}
.call-to-action .pull-right a.btn-blue:hover {
  background: #212121;
  color: #fff;
}
section {
  opacity: 0;
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.team-details {
  border: 1px solid #EAE3E3;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.team-details img {
  transition: all 0.4s ease-in-out 0s;
}
.team-details img:hover {
  transform: scale(1.1, 1.1);
}
.team-details-img {
  overflow: hidden;
}
.team-details-img img {
  margin: 0 auto;
}
.team-social ul {
  text-align: center;
}
.team-social ul li {
  display: inline-block;
}
.team-social ul li a i.fa {
  background-color: #36c6f4;
  padding: 8px 10px;
  color: #fff;
  font-size: 16px;
  width: 38px;
  margin: 15px 2px;
  transition: all 0.3s ease-in-out 0s;
}
.team-social ul li a i.fa:hover {
  background-color: #212121;
  color: #fff;
}
.testimonial {
  background: rgba(0, 0, 0, 0) url("../images/testimonial.jpg") no-repeat fixed 0 0;
  padding: 60px 0;
  position: relative;
}
.testimonial::before {
  background: rgba(0, 0, 0, 0.85) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.testimonial .owl-theme .owl-controls {
  left: 0;
  position: relative;
  right: 0;
  top: 20px;
}
.testimonial-item {
  margin: 0px 10px;
}
.testimonial-item > img {
  border: 3px solid #fff;
  width: 60px;
  height: 62px;
  border-radius: 90%;
  -moz-border-radius: 90%;
  -webkit-border-radius: 90%;
  margin: 10px auto;
}
.testimonial-item p {
  color: #fff;
  font-size: 16px;
}
.testimonial-item .t-name {
  font-weight: bold;
  color: #fff;
  font-size: 16px;
}
.recent-work-item {
  padding: 10px;
}
.recent-work-item .mix {
  margin: 10px 0px;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.recent-work-item .mix .recent-work-item-image img {
  width: 100%;
  transition: all 300ms ease-in-out;
}
.recent-work-item .mix .hover_elements {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out;
}
.recent-work-item .mix .hover_elements .litle_desc {
  top: -20%;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 0 5px;
  position: absolute;
  transition: all 300ms ease-in-out 0s;
  text-align: center;
  left: 0px;
  right: 0px;
}
.recent-work-item .mix .hover_elements a {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  left: 0;
  margin: 0 auto;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  top: 60%;
  transition: all 300ms ease-in-out 0s;
  width: 100px;
}
.recent-work-item .mix .hover_elements a.live_preview {
  left: -50%;
}
.recent-work-item .mix .hover_elements a.view_details {
  right: -50%;
}
.recent-work-item .mix:hover .recent-work-item-image img {
  transform: scale(1.4);
}
.recent-work-item .mix:hover .hover_elements {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.5);
}
.recent-work-item .mix:hover .hover_elements .litle_desc {
  top: 15%;
}
.recent-work-item .mix:hover .hover_elements a.live_preview {
  left: 35%;
}
.recent-work-item .mix:hover .hover_elements a.view_details {
  right: 35%;
}
.fan-facts {
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0);
  background-origin: padding-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}
.fan-facts-stat {
  margin: 0px auto;
  text-align: center;
}
.fan-facts-stat i {
  color: #fff;
}
.highlight {
  color: #fff;
  padding: 15px 0;
  font-weight: bold;
  display: block;
  overflow: hidden;
  margin-bottom: 0;
  font-size: 48px;
}
.milestone-details {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}
.pricing-item {
  border: 1px solid #ddd;
  padding: 0 !important;
  transform: translateZ(0px);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.pricing-item .currency .sign {
  font-size: 24px;
  font-weight: 300;
  line-height: 35px;
}
.pricing-item .currency .cost {
  font-size: 50px;
  font-weight: 100;
  letter-spacing: -3px;
  line-height: 50px;
  vertical-align: top;
}
.pricing-item .currency p {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 0;
  margin: 0;
}
.pricing-item .pricing-bottom {
  margin-bottom: 20px;
}
.pricing-item:hover {
  transform: translateY(-8px);
}
.pricing-top {
  background: #36c6f4 none repeat scroll 0 0;
  transition: all 0.5s ease 0s;
}
.pricing-top .plan-title {
  border-bottom: 3px solid #fff;
}
.pricing-top .plan-title h2 {
  color: #fff;
  font-weight: 400;
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
}
.pricing-top .plan-title i.fa {
  font-size: 44px;
  color: #fff;
  margin-bottom: 15px;
}
.pricing-top .currency {
  margin-bottom: 10px;
  color: #fff;
  padding: 10px 0px;
}
.pricing-top:hover {
  background: #212121 none repeat scroll 0 0;
}
.pricing-featured {
  background: #212121 none repeat scroll 0 0;
}
.pricing-details ul li {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.pricing-details ul li:last-child {
  border-bottom: none;
}
#portfolio {
  padding-bottom: 0;
}
#portfolio .portfolios {
  margin-top: 30px;
}
#portfolio .portfolios .filter_list {
  text-align: center;
  margin-bottom: 50px;
}
#portfolio .portfolios .filter_list li {
  cursor: pointer;
  padding: 7px 25px;
  border: 2px solid #36c6f4;
  margin: 5px;
  font-weight: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
#portfolio .portfolios .portfolio_items li.mix {
  display: none;
  margin: 10px 0px;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#portfolio .portfolios .portfolio_items li.mix .portfolio_image img {
  width: 100%;
  transition: all 300ms ease-in-out;
}
#portfolio .portfolios .portfolio_items li.mix .hover_elements {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out;
}
#portfolio .portfolios .portfolio_items li.mix .hover_elements .litle_desc {
  top: -20%;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 0 5px;
  position: absolute;
  transition: all 300ms ease-in-out 0s;
  text-align: center;
  left: 0px;
  right: 0px;
}
#portfolio .portfolios .portfolio_items li.mix .hover_elements a {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  left: 0;
  margin: 0 auto;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  top: 60%;
  transition: all 300ms ease-in-out 0s;
  width: 100px;
}
#portfolio .portfolios .portfolio_items li.mix .hover_elements a.live_preview {
  left: -50%;
}
#portfolio .portfolios .portfolio_items li.mix .hover_elements a.view_details {
  right: -50%;
}
#portfolio .portfolios .portfolio_items li.mix:hover .portfolio_image img {
  transform: scale(1.4);
}
#portfolio .portfolios .portfolio_items li.mix:hover .hover_elements {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.5);
}
#portfolio .portfolios .portfolio_items li.mix:hover .hover_elements .litle_desc {
  top: 15%;
}
#portfolio .portfolios .portfolio_items li.mix:hover .hover_elements a.live_preview {
  left: 35%;
}
#portfolio .portfolios .portfolio_items li.mix:hover .hover_elements a.view_details {
  right: 35%;
}
#portfolio .portfolio_items li.mix {
  display: none;
}
#portfolio .portfolios .filter_list li:hover,
#portfolio .portfolios .filter_list li.active {
  background-color: #36c6f4;
  color: #fff;
  border-color: #36c6f4;
}
.portfolio-image .item > img {
  height: 380px !important;
  width: 100%;
}
.portfolio-details > h3 {
  margin: 0 0 20px;
  text-transform: uppercase;
}
.portfolio-details tr {
  padding: 0 0 15px;
}
.portfolio-details th {
  padding: 0 0 10px;
  text-align: left;
  text-transform: uppercase;
  vertical-align: top;
  font-weight: 600;
}
.portfolio-details td {
  padding: 0 0 10px 20px;
  vertical-align: top;
}
.project-overflow > h3 {
  text-transform: uppercase;
}
section#client {
  padding: 20px 0;
}
.client-item > img {
  display: block;
  margin: 0;
  max-width: 100%;
}
.our-client .owl-item {
  padding: 0px 10px;
}
.our-mission .col-md-6 li {
  padding: 4px 0px;
}
.our-mission .col-md-6 li i.fa {
  color: #36c6f4;
  font-size: 18px;
  margin-right: 5px;
  font-weight: normal;
}
#about-us .our-mission h3 {
  text-transform: uppercase;
  margin: 0px 0px 10px;
}
.popular-questions .panel-heading {
  background: none !important;
}
.popular-questions .panel-title > a {
  font-weight: normal;
  padding: 2px 5px;
  display: block;
}
.popular-questions .panel-title > a:hover {
  text-decoration: none;
}
.popular-questions .panel-title i.fa {
  color: #36c6f4;
  margin-right: 5px;
}
.panel-title > a[aria-expanded="true"] > i::before {
  content: "";
}
.contact-info  > h3,
.contact-form  > h3 {
  font-weight: 500;
  margin: 0 0 20px;
  text-transform: uppercase;
}
.contact-form .field {
  position: relative;
}
.contact-form .field .field_icon {
  bottom: 0;
  height: 100%;
  position: absolute;
  top: 0;
}
.contact-form .field .field_icon i.fa {
  background: #36c6f4;
  color: #fff;
  font-size: 18px;
  height: 100%;
  padding: 10px 15px;
  width: 47px;
}
.contact-form .field input,
.contact-form .field textarea {
  padding-left: 50px;
  border: 1px solid #36c6f4;
}
.contact-address ul li {
  margin-bottom: 10px;
}
.contact-address ul li a {
  color: #212121;
}
.contact-address ul li i.fa {
  color: #212121;
  font-size: 20px;
  text-align: center;
  width: 30px;
}
.find-us.social {
  margin-top: 30px;
  margin-bottom: 30px;
}
.find-us.social h4 {
  text-transform: uppercase;
}
.find-us.social ul li {
  margin-right: 10px;
  margin-bottom: 10px;
}
.find-us.social ul li i.fa {
  color: #212121;
  border: 2px solid #212121;
}
.find-us.social ul li i.fa:hover {
  color: #fff;
  border: 2px solid #36c6f4;
}
.btn-blue.btn-blue-md.submit {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  max-width: 120px;
  padding: 10px;
}
.btn-blue.btn-blue-md.submit:hover {
  background: #36c6f4;
  color: #fff;
}
footer {
  background-color: #373A3F;
  padding: 20px 0 0;
}
footer h3 {
  color: #fff;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 20px;
}
footer .important ul {
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
}
footer .important ul li a {
  color: #888;
}
footer .important ul li a:hover {
  color: #fff;
}
footer .address p {
  color: #888;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
}
.tags ul li {
  display: inline-block;
}
.tags ul li a {
  border: 2px solid #36c6f4;
  color: #fff;
  display: block;
  margin: 0 10px 10px 0;
  padding: 5px 10px;
  font-family: raleway;
  transition: all 0.5s ease 0s;
}
.tags ul li a:hover {
  background-color: #36c6f4;
  color: #fff;
  text-decoration: none;
}
.sidebar-tags ul li a {
  color: #212121;
}
.social ul li {
  display: inline-block;
  margin-bottom: 10px;
}
.social ul li a i.fa {
  border: 2px solid #36c6f4;
  color: #fff;
  font-size: 24px;
  padding: 5px;
  text-align: center;
  width: 45px;
}
.social ul li a i.fa:hover {
  background: #36c6f4;
  transition: all 0.5s ease 0s;
}
.copy-right {
  background: #212121;
  padding: 10px;
}
.copy-right p {
  color: #888;
  font-family: raleway;
  line-height: 30px;
  margin: 0;
}
#back-top {
  bottom: 30px;
  position: fixed;
  right: 40px;
}
#back-top a {
  display: block;
  text-align: center;
  font: 11px/100% Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #bbb;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top .fa.fa-chevron-up {
  background: #36c6f4;
  border-radius: 3px;
  color: #fff;
  font-size: 20px;
  padding: 10px;
}
#back-top .fa.fa-chevron-up:hover {
  background: #212121;
  color: #fff;
}
@media (max-width: 480px) {
  .breadcrumb-title h2 {
    margin: 20px 0px;
    font-size: 20px;
  }
  .breadcrumb > ul {
    margin: 20px 0;
  }
  .breadcrumb > ul > li a {
    font-size: 12px;
  }
  .navbar-toggle {
    margin-right: 3px;
  }
}
@media (max-width: 767px) {
  .navbar-nav > li > a {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .dropdown-menu {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    display: block;
    float: none;
    left: 0;
    padding: 0 20px;
    position: relative;
    top: 0;
  }
  .navbar-default .navbar-nav > li > a {
    text-align: left;
    font-weight: 600;
  }
  .navbar-default .navbar-nav > li > a:hover {
    background: #36c6f4;
    color: #fff;
  }
  .navbar-default .navbar-nav > li > a:focus {
    color: #fff !important;
  }
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
  }
  a.search {
    margin: 0px auto;
  }
  form.search-form {
    width: 70%;
  }
  .search-bar .search-form input {
    font-size: 20px;
    padding: 10px;
  }
  .search-bar .search-submit i.fa {
    font-size: 30px;
  }
  .search-submit {
    padding: 10px;
    margin-left: 0px;
  }
  .milestone-counter {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 991px) {
  .sidebar {
    margin-top: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #breadcrumb-wrapper {
    margin-top: 135px;
  }
  .logo .pull-left {
    float: none !important;
  }
  .logo img {
    display: block;
    margin: 15px auto 0;
  }
}
