.custom-page-title,
.custom-page-title-description,
.custom-page-counter i,
.custom-page-counter span,
.custom-page-counter div
{
    color: #0000FF;
    text-shadow: 1px 1px black;
}

.custom-page-counter span.highlight {
    font-size: 38px;
}

.main-title-border-center,
.main-title-border-left {
    border-bottom: 3px solid #0000FF !important;
}

.contact-form .field .field_icon i.fa {
    background: #0000FF !important;
}

.btn-blue.btn-blue-md.submit:hover {
    background: #0000FF !important;
}

#back-top .fa.fa-chevron-up {
    background: #0000FF !important;
}

.nicescroll-rails div {
    background-color: #0000FF !important;
}

.btn-blue {
    border: 3px solid #0000FF !important;
}
