.content-menu-margin {
    background-color: #2B2B2B;
    color: #006300;
}

footer {
    background-color: #333333;
}

#sticky_navigation {
    background-color: #333333;
}

.navbar-default .navbar-nav > li > a {
    color: #A9B7C6;
}

.custom-page-title,
.custom-page-title-description,
.custom-page-counter i,
.custom-page-counter span,
.custom-page-counter div
{
    color: #A9B7C6;
    text-shadow: 1px 1px black;
}

.custom-page-counter span.highlight {
    font-size: 38px;
}

.main-title-border-center,
.main-title-border-left {
    border-bottom: 3px solid #A9B7C6 !important;
}

.contact-form .field .field_icon i.fa {
    background: #A9B7C6 !important;
}

.btn-blue.btn-blue-md.submit:hover {
    background: #A9B7C6 !important;
}

#back-top .fa.fa-chevron-up {
    background: #A9B7C6 !important;
}

.nicescroll-rails div {
    background-color: #A9B7C6 !important;
}

.btn-blue {
    border: 3px solid #A9B7C6 !important;
    background-color: #FFFFFF !important;
}
