.custom-page-title,
.custom-page-title-description,
.custom-page-counter i,
.custom-page-counter span,
.custom-page-counter div
{
    color: #36c6f4;
    text-shadow: 1px 1px black;
}

.custom-page-counter span.highlight {
    font-size: 38px;
}

.contact-form .field .field_icon i.fa {
    background: #36c6f4 !important;
}

.btn-blue.btn-blue-md.submit:hover {
    background: #36c6f4 !important;
}

#back-top .fa.fa-chevron-up {
    background: #36c6f4 !important;
}

.nicescroll-rails div {
    background-color: #36c6f4 !important;
}

.btn-blue {
    border: 3px solid #36c6f4 !important;
}

