<section class="custom-section">
    <div class="fan-facts" style='padding: 100px 0; background-image: url("{{bannerUrl}}");'>
        <div class="container">
            <div class="fan-facts-stat">
                <div class="custom-page-title" ng-bind="title"></div>
                <p class="custom-page-title-description" ng-bind="description"></p>

                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 col-md-offset-1" style="padding: 0">
                    <div class="milestone-counter custom-page-counter">
                        <i class="fa fa-calendar-check-o fa-3x"></i>
                        <span class="highlight" ng-bind="start"></span>
                        <div class="milestone-details">Data wydarzenia</div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" style="padding: 0">
                    <div class="milestone-counter custom-page-counter">
                        <i class="fa fa-clock-o fa-3x" ></i>
                        <span class="highlight" ng-bind="time"></span>
                        <div class="milestone-details">Godzina rozpoczęcia</div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" style="padding: 0">
                    <div class="milestone-counter custom-page-counter">
                        <i class="fa fa-money fa-3x"></i>
                        <span class="highlight"  ng-bind="fee + 'zł'"></span>
                        <div class="milestone-details">Koszt uczestnictwa</div>
                    </div>
                </div>


                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="milestone-counter custom-page-counter">
                        <i class="fa fa-user fa-3x"></i>
                        <span class="highlight participant">0</span>
                        <div class="milestone-details">Liczba uczestników</div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="milestone-counter custom-page-counter">
                        <i class="fa fa-coffee fa-3x"></i>
                        <span class="highlight ticket">0</span>
                        <div class="milestone-details">Pozostałych miejsc</div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
