
<h3 class="section-title" ng-bind="title"></h3>
<div class="main-title-border-left"></div>


<form name="form" class="contact-form" novalidate>

    <div class="field">
        <span class="field_icon"><i class="fa fa-user"></i></span>
        <input type="text" name="name" placeholder="Imię" class="form-control own-input-form" ng-required="true" ng-model="contact.name">
    </div>
    <div class="input-error-message" ng-show="form.$submitted || form.name.$touched">
        <div ng-show="form.name.$error.required">Pole Imię jest wymagane.</div>
    </div>

    <div class="field">
        <span class="field_icon"><i class="fa fa-location-arrow"></i></span>
        <input type="email" name="email" placeholder="Email" class="form-control own-input-form" ng-required="true" ng-model="contact.email"
               ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/">
    </div>
    <div class="input-error-message" ng-show="form.$submitted || form.email.$touched">
        <div ng-show="form.email.$error.required">Pole Email jest wymagane.</div>
        <div ng-show="form.email.$error.pattern">Nieprawidłowy adres email.</div>
    </div>

    <div class="field">
        <span class="field_icon"><i class="fa fa-tag"></i></span>
        <input type="text" name="title" placeholder="Temat" class="form-control own-input-form" ng-required="true" ng-model="contact.title">
    </div>
    <div class="input-error-message" ng-show="form.$submitted || form.title.$touched">
        <div ng-show="form.title.$error.required">Pole Temat jest wymagane.</div>
    </div>

    <div class="field">
        <span class="field_icon"><i class="fa fa-envelope-o"></i></span>
                        <textarea name="comment" placeholder="Komentarz ..." rows="8" class="form-control own-input-form" ng-required="true" ng-model="contact.comment">
                        </textarea>
    </div>
    <div class="input-error-message" ng-show="form.$submitted || form.comment.$touched">
        <div ng-show="form.comment.$error.required">Pole Komentarz jest wymagane.</div>
    </div>
    <br>
    <div
            vc-recaptcha
            name="recaptchaResponse"
            key="recaptchaPublicKey"
            type="'image'"
            on-create="setWidgetId(widgetId)"
            ng-model="contact.recaptchaResponse"
            ng-required="true"
    ></div>

    <div class="input-error-message" ng-show="form.$submitted || form.comment.$touched">
        <div ng-show="form.recaptchaResponse.$error.required">Pole weryfikacji użytkownika jest wymagane.</div>
    </div>

    <span us-spinner ng-show="sendMessageLoader"></span>
    <input class="btn-blue btn-blue-md submit own-input-form" type="button" value="Wyślij"
           ng-click="sendContactMessage(form)"/>
</form>