<h3>Dane kontaktowe</h3>
<div class="main-title-border-left"></div>
<br>
<div class="contact-address">
    <ul>
        <li ng-show="address"><i class="fa fa-map-marker"></i> <strong>Address:</strong>  {{ address }}</li>
        <li ng-show="phone"><i class="fa fa-phone"></i> <strong>Phone:</strong>  {{ phone }}</li>
        <li ng-show="email"><i class="fa fa-envelope-o"></i> <strong>Email:</strong> <a href="mailto:{{email}}" target="_top">{{email}}</a></li>
    </ul>			
</div>
<div class="find-us social" ng-show="facebook || twitter || googlePlus || pinterest || youtube">
    <h4>Znajdź nas</h4>
    <ul>
        <li ng-show="facebook"><a target="_blank" ng-href="{{facebook}}"><i class="fa fa-facebook"></i></a></li>
        <li ng-show="twitter"><a target="_blank" ng-href="{{twitter}}"><i class="fa fa-twitter"></i></a></li>
        <li ng-show="googlePlus"><a target="_blank" ng-href="{{googlePlus}}"><i class="fa fa-google-plus"></i></a></li>
        <li ng-show="pinterest"><a target="_blank" ng-href="{{pinterest}}"><i class="fa fa-pinterest"></i></a></li>
        <li ng-show="youtube"><a target="_blank" ng-href="{{youtube}}"><i class="fa fa-youtube"></i></a></li>
    </ul>
</div>
