<div class="row">
    <div class="col-md-12">
        <h2 class="text-center section-title" ng-bind="title"></h2>
        <div class="main-title-border-center"></div>
        <p class="section-title-caption text-center" ng-bind-html="description"></p>
    </div>
</div>
