<h3 class="text-center section-title" ng-bind="title"></h3>
<div class="main-title-border-center"></div>
<p ng-bind="description"></p>
<div id="map_canvas">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" events="map.events">
        <ui-gmap-markers models="markers" coords="'self'" icon="'icon'"></ui-gmap-markers>
    </ui-gmap-google-map>
</div>