<div ng-repeat="notification in notificationsCtrl.getNotifications() track by notification.id + $index" ng-show="notification.display"
     class="alert alert-{{ notification.type }} alert-dismissible">

    <button type="button" ng-click="notificationsCtrl.removeNotification(notification)" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="pull-left">
        <div>{{ notification.text }}</div>
    </div>
    <div class="clearfix"></div>

</div>