<div class="container popular-questions" style="padding-top: 30px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 contact-form">
            <h3>Aktywacja konta</h3>

            <p class="section-title-caption" ng-if="status == 1">
                Twoje konto jest już aktywne, <a href="javascript:void(0)" ng-click="goToSignIn()">przejdź do strony logowania</a>.
            </p>

            <p class="section-title-caption" ng-if="status == 0">
                Twoje konto jest nieaktywne. Link do aktywacji konta jest niepoprawny.
            </p>

        </div>
    </div>
</div>