<div class="container popular-questions" style="padding-top: 30px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 contact-form">
            <h3>Utworzono nowe konto</h3>

            <p class="section-title-caption">Na twoją skrzynkę został wysłany email z linkiem potwierdzającym konto.
            Aby aktywować swoje konto, kliknij w link aktywujący.</p>

        </div>
    </div>
</div>