<div class="container popular-questions" style="padding-top: 30px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 contact-form">
            <h3>Przypomnij hasło</h3>
            <form role="form" name="rememberPasswordForm" ng-show="!submission && !emailSend" novalidate>
                <div class="field">
                    <span class="field_icon"><i class="fa fa-location-arrow"></i></span>
                    <input type="email" class="form-control own-input-form" name="email" ng-model="rememberPassword.email"
                           ng-focus="clearError()" required placeholder="e-mail">
                </div>
                <p class="form-error" ng-show="notRecognized">Podany adres e-mail nie istnieje lub email został już wysłany</p>
                <p class="form-error" ng-show="emptyFields || (rememberPasswordForm.email.$error.email && !rememberPasswordForm.email.$pristine)">Musisz podać prawidłowy adres e-mail</p>
                <button type="submit" ng-click="send()" style="max-width:  180px" class="btn-blue btn-blue-md submit own-input-form">Przypomnij hasło</button>
            </form>

            <div class="spinner-wrapper" ng-show="submission">
                <span us-spinner="{top:'50%'}"></span>
            </div>

            <div class="info" ng-show="emailSend">
                <p>Na podany adres e-mail zostało wysłane hasło.</p>
            </div>

        </div>
    </div>
</div>