<div class="container popular-questions" style="padding-top: 30px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 contact-form">
            <h3>Ustal nowe hasło</h3>
            <form role="form" name="resetPasswordForm" ng-show="!submission && !emailSend" novalidate>
                <div class="field">
                    <span class="field_icon"><i class="fa fa-lock"></i></span>
                    <input id="passwordFirst" type="password" class="form-control own-input-form" name="passwordFirst"
                           ng-model="reset.passwordFirst" placeholder="hasło" ng-minlength="8" ng-required="true" ng-focus="clearError()">
                </div>
                <div class="field">
                    <span class="field_icon"><i class="fa fa-lock"></i></span>
                    <input id="passwordSecond" type="password" class="form-control own-input-form" name="passwordSecond"
                           ng-model="reset.passwordSecond" placeholder="powtórz hasło" ng-minlength="8" ng-required="true" ng-focus="clearError()">
                </div>
                <p class="form-error" ng-show="notSame">Podane hasła róznią się</p>
                <p class="form-error" ng-show="passwordPolicy">Hasło musi mieć przynajmniej 8 znaków oraz składać się z małych, dużych liter i cyfr.</p>
                <button type="submit" ng-click="send()" style="max-width: 180px" class="btn-blue btn-blue-md submit own-input-form">Zmień hasło</button>
            </form>

            <div class="spinner-wrapper" ng-show="submission">
                <span us-spinner="{top:'50%'}"></span>
            </div>

            <div class="info" ng-show="emailSend">
                <p>Na podany adres e-mail zostało wysłane hasło.</p>
            </div>

        </div>
    </div>
</div>