<div class="container popular-questions" style="padding-top: 30px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 contact-form">
            <h3>Zarejestruj się</h3>

            <div class="spinner-wrapper" ng-show="signupLoading">
                <span us-spinner="{top:'50%'}"></span>
            </div>

            <form role="form" name="signupForm" ng-show="!signupLoading" novalidate>

                <div class="field">
                    <span class="field_icon"><i class="fa fa-location-arrow"></i></span>
                    <input type="email" class="form-control own-input-form" name="email" ng-model="signup.email" 
                           required placeholder="e-mail" ng-focus="clearError()"> 
                </div>
                <p class="form-error" ng-show="signupForm.email.$error.required && !signupForm.email.$pristine">musisz podać adres e-mail</p>
                <p class="form-error" ng-show="signupForm.email.$error.email && !signupForm.email.$pristine">adres e-mail jest nieprawidłowy</p>
                <p class="form-error" ng-show="signupForm.email.$error.uniqueEmail">taki adres e-mail już istnieje w systemie</p>
                
                <div class="field">
                    <span class="field_icon"><i class="fa fa-lock"></i></span>
                    <input id="password" type="password" class="form-control own-input-form" name="password" 
                           ng-model="signup.password" placeholder="hasło" ng-minlength="8" ng-focus="clearError()">
                </div>
                <p class="form-error" ng-show="signupForm.password.$error.required && !signupForm.password.$pristine">musisz podać hasło</p>
                <p class="form-error" ng-show="signupForm.password.$error.minlength && !signupForm.password.$pristine">Hasło jest zbyt krótkie</p>
                <p class="form-error" ng-show="signupForm.password.$error.notSame && !signupForm.password.$pristine">Hasła nie są takie same</p>
                
                <div class="field">
                    <span class="field_icon"><i class="fa fa-lock"></i></span>
                    <input id="repeatPassword" type="password" class="form-control own-input-form" name="repeatPassword" 
                           repeat-password="password"
                           ng-model="signup.repeatPassword" placeholder="powtórz hasło" ng-focus="clearError()">
                </div>
                <p class="form-error" ng-show="signupForm.repeatPassword.$error.repeatPassword 
                            && !signupForm.repeatPassword.$pristine">hasła muszą być takie same</p>

                <div style="margin-top:15px;">
                    <div class="row" style="margin-left: 0">
                        <md-checkbox ng-model="signup.isCompany" class="text-justify" name="isCompany">
                            Dane firmy
                        </md-checkbox>
                    </div>
                </div>

                <div class="field" style="margin-top:-15px" ng-show="signup.isCompany">
                    <span class="field_icon"><i class="fa fa-file-text-o"></i></span>
                    <input type="text" class="form-control own-input-form" name="companyName" ng-model="signup.companyName"
                           required placeholder="nazwa firmy" ng-focus="clearError()">
                </div>
                <p class="form-error" ng-show="signup.isCompany && signupForm.companyName.$error.required && (signupForm.$submitted || signupForm.companyName.$touched)">Pole nie może być puste.</p>

                <div class="field" ng-show="signup.isCompany">
                    <span class="field_icon"><i class="fa fa-file-text-o"></i></span>
                    <input type="text" class="form-control own-input-form" name="nip" ng-model="signup.nip"
                           required placeholder="NIP (10 cyfr)" ng-focus="clearError()">
                </div>

                <p class="form-error" ng-show="signup.isCompany && signupForm.nip.$error.required  && (signupForm.$submitted || signupForm.nip.$touched)">Niepoprawny numer nip.</p>

                <div ng-class="{'user-regulation': signup.isCompany, 'user-regulation2': !signup.isCompany}">
                    <div class="row">
                        <md-checkbox ng-model="signup.regulation" class="text-justify" name="regulation" required>
                            Akceptuje warunki <a target="_blank" href="/assets/docs/user-regulation.pdf">regulaminu</a> registreo.pl
                        </md-checkbox>
                        <div class="input-error-message error-md-regulation" ng-show="signupForm.$submitted || signupForm.regulation.$touched">
                            <div ng-show="signupForm.regulation.$error.required">Akceptacja regulaminu jest wymagana.</div>
                        </div>
                    </div>
                </div>

                <button type="submit" ng-click="signUp()" class="btn-blue btn-blue-md submit own-input-form">Zarejestruj się</button>
            </form>
            <br><br>
        </div>
    </div>
</div>