<div class="container popular-questions" style="padding-top: 30px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 contact-form">
            <h3>Zaloguj się</h3>
            <form role="form" name="signinForm" ng-show="!submission" novalidate>
                <div class="field">
                    <span class="field_icon"><i class="fa fa-location-arrow"></i></span>
                    <input type="email" class="form-control own-input-form" name="email" ng-model="signin.email"
                           placeholder="e-mail" required>
                </div>
                <p class="form-error" ng-show="signinForm.email.$error.email && !signinForm.email.$pristine">Adres e-mail jest nieprawidłowy</p>
                <div class="field">
                    <span class="field_icon"><i class="fa fa-lock"></i></span>
                    <input type="password" class="form-control own-input-form" name="password"
                           ng-model="signin.password" placeholder="hasło" ng-focus="clearError()" required>
                </div>
                <p class="form-error" ng-show="signinForm.password.$error.invalidSignIn">Nieprawidłowy email lub hasło</p>
                <p class="form-error" ng-show="emptyFields">Musisz podać adres e-mail i hasło</p>
                <button type="submit" ng-click="signIn()" class="btn-blue btn-blue-md submit own-input-form">Zaloguj się</button>
            </form>

            <div class="spinner-wrapper" ng-show="submission">
                <span us-spinner="{top:'50%'}"></span>
            </div>

            <div>
                <p class="field" style="margin-top: 15px; margin-bottom: 5px;">
                    <a  ng-click="register()" class="login-link">
                        <i class="fa fa-info"></i>
                        Nie masz konta? Zarejestruj się!
                    </a>
                </p>
                <p class="field" style="margin-top: 15px; margin-bottom: 35px;">
                    <a ng-click="rememberPassword()" class="login-link">
                        <i class="fa fa-question"></i>
                        Nie pamiętasz hasła?
                    </a>
                </p>
            </div>

        </div>
    </div>
</div>