{% extends 'CustomPageBundle:Layout:index.html.twig' %}

{% block content %}
    <div ng-controller="CustomPageHomeCtrl" ng-init="templateData = {{templateData}}">
    {% if page.isActive %}
        {{ template | raw}}
    {% else %}
        Strona nie jest aktywna.
    {% endif %}
    </div>
{% endblock %}

