<!DOCTYPE HTML>
<html lang="utf-8" class="no-js">
<head>
    <meta charset="UTF-8">
    <title>Registreo - spersonalizowane formularze rejestracyjne</title>
    <meta name="description" content="Registreo - spersonalizuj swój formularz zgłoszeniowy do potrzeb dowolonego wydarzenia i korzystaj z osbsługi płatności">
    <meta name="keywords" content="Registreo, Personifikacja, Kastomizacja, Event, Zdarzenie, Wydarzenie, Formularze, Własna strona, Płatności, Przelewy">
    <meta name="author" content="ITWINS, MIROLABS">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"  href="{{ asset('assets/images/Registreo.png') }}?v=2">
    <link rel="stylesheet" href="{{ asset('assets/css/registreo-custom.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/style.min.css') }}" />
</head>
<body>
<div id="preloader"></div>

<div class="container" style="padding-top: 15px">
    <div class="col-md-12 text-center">

        <div class="col-md-8 col-md-offset-2" style="margin-top:60px;margin-bottom:60px;">
        {% if status == 'OK' %}
                <h3 class="section-title margin-top-20">
                    Płatność została zrealizowana
                </h3>
                <div class="main-title-border-center"></div>
                <p class="section-title-caption">
                    Twój udział w wydarzeniu został opłacony.  Dziękujemy za dokonanie płatności. <br>
                    <a href="/event/{{ eventId }}">Wróć na stronę główną.</a>
                </p>
        {% else %}
                <h3 ng-show="!paymentStatus" class="section-title margin-top-20">
                    Płatność została odrzucona
                </h3>
                <div class="main-title-border-center"></div>
                <p class="section-title-caption">
                    Twoja płatność się nie powiodła. Na twój adres email została wysłana wiadomość, która
                    zawiera link do dokonania ponownej płatności. <a href="/event/{{ eventId }}">Wróć na stronę główną.</a>
                </p>
        {% endif %}

        </div>
    </div>
</div>




{{ include ('CustomPageBundle:Layout:footer.html.twig') }}

<!-- this is all scripts from bower  -->
<script src="{{ asset('bower_components/jquery/dist/jquery.js') }}"></script>
<!-- this is all scripts from  other libraries  -->
<script src="{{ asset('assets/js/jquery.nicescroll.min.js') }}"></script>
<script src="{{ asset('assets/js/script.js') }}"></script>

</body>
</html>
