


<div class="modal-dialog img-rounded custom-modal" style="background-color: #36c6f4">
    <div class="modal-content">
        <div class="modal-header custom-modal-header">
            <button type="button" class="close" ng-click="closeModal()" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Aktywacja formularza zgłoszeniowego</h4>
        </div>
        <form name="fieldForm" novalidate>
            <div class="modal-body">
                <div style="color: black;">
                    Czy chcesz aktywować formularz zgłoszeniowy ? <br>
                    Po aktywacji nie będą możliwe zmiany w formularzu.
                </div>
            </div>
            <div class="modal-footer">
                <i ng-if="activatingForm" style="color: #000000;" class="fa fa-spinner fa-spin fa-2x pull-right"></i>
                <button ng-show="!activatingForm" type="button" class="btn btn-default" ng-click="closeModal()" data-dismiss="modal">Zrezygnuj</button>
                <button ng-show="!activatingForm" type="submit" class="btn btn-primary custom-modal-footer-confirm" ng-click="activate();">Tak</button>
            </div>
        </form>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->