<div class="modal-dialog img-rounded custom-modal" style="background-color: #36c6f4">
    <div class="modal-content">
        <div class="modal-header custom-modal-header">
            <button type="button" class="close" ng-click="closeModal()" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Dodaj pole do formularza</h4>
        </div>
        <form name="fieldForm" novalidate>
            <div class="modal-body">
                <md-input-container class="custom-modal-md-container">
                    <label>Nazwa pola</label>
                    <input ng-model="field.label" name="label" required md-maxlength="50" type="text" maxlength="50">
                </md-input-container>
                <div class="input-error-message error-md-modal" ng-show="fieldForm.$submitted || fieldForm.label.$touched">
                    <div ng-show="fieldForm.label.$error.required">To pole jest wymagane.</div>
                </div>

                <md-input-container  class="md-block">
                    <label>Opis pola (dodatkowe objaśnienia)</label>
                    <textarea ng-model="field.tooltip" name="tooltip"></textarea>
                </md-input-container>

                <div class="row" ng-show="field.type == 3">
                    <div class="col-md-7">
                        <div class="form-group">
                            <md-input-container class="custom-modal-md-container">
                                <label>Podaj opcję wyboru</label>
                                <input name="optionSelect"  ng-model="optionValue" type="text" maxlength="20">
                            </md-input-container>
                            <div class="input-error-message error-md-modal" ng-show="emptyOption || noOption">
                                <div ng-show="emptyOption">Wpisz wartość opcji</div>
                                <div ng-show="noOption">Należy dodać co najmniej jedną opcję do wyboru</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <button type="button" ng-click="addOption()" class="btn-blue btn-blue-md submit custom-form-add-element pull-left">
                            Dodaj opcję &nbsp; &nbsp; <i class="fa fa-plus fa-lg"></i>
                        </button>
                    </div>
                </div>

                <ul ng-show="field.type == 3" ui-sortable="sortableSelectOptions" ng-model="field.options">
                    <li ng-repeat="option in field.options | orderBy:'order'" class="item img-rounded">
                        <div class="row">
                            <div class="col-md-8" style="color: black;">
                                {{option.value}}
                            </div>
                            <div class="col-md-4">
                                <div class="custom-item-buttons pull-right">
                                    <ul>
                                        <li>
                                            <md-content class="link-content img-rounded" ng-click="removeOption(option)" aria-label="Usuń opcję" role="button" tabindex="0">
                                                <i class="fa fa-times"></i>
                                            </md-content>
                                        </li>
                                        <li>
                                            <md-content aria-label="Posortuj opcje" tabindex="0" style="background-color: #fafafa">
                                                <i class="fa fa-arrows-v fa-lg custom-sortable-icon"></i>
                                            </md-content >
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer custom-modal-footer">
                <button type="button" class="btn btn-default" ng-click="closeModal()" data-dismiss="modal">Zamknij</button>
                <button type="submit" class="btn btn-primary custom-modal-footer-confirm" ng-click="saveField(fieldForm.$valid)">Dodaj pole</button>
            </div>
        </form>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->