<md-dialog class="md-dialog-participant_details">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Zmiana statusu wydarzenia</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeModal()">
                <i class="fa fa-times"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
        <div class="md-dialog-content-body ng-isolate-scope">
            Czy chesz zmienić status wydarzenia : "{{ event.name }}" na nieaktywne ? <br>
            Zmiana jest nieodwracalna.
        </div>
    </md-dialog-content>
    <div class="md-actions">
        <span us-spinner ng-show="changePaymentStatusLoading"></span>
        <md-button ng-click="closeModal()" class="md-primary dialog-button">Zrezygnuj</md-button>
        <md-button ng-click="changePaymentStatus()" class="md-primary dialog-button">Tak</md-button>
    </div>
</md-dialog>