<div class="modal-dialog img-rounded custom-modal" style="background-color: #36c6f4">
    <div class="modal-content">
        <div class="modal-header custom-modal-header">
            <button type="button" class="close" ng-click="closeModal()" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Dodaj nowy akapit</h4>
        </div>
        
        <form name="itemForm" novalidate>
            <div class="modal-body">
                
                <div class="form-group" style="padding-top: 15px">
                    <label>Rodzaj elementu</label>
                    <select ng-model="element.type" class="form-control" style="width: 200px" ng-disabled="lock">
                        <option value="{{item.type}}" ng-repeat="item in sectionTypeList">{{ item.title }}</option>
                    </select>
                </div>
                
                
                
                <md-input-container class="custom-modal-md-container" ng-show="element.type == 'Paragraph'">
                    <label>Nazwa akapitu</label>
                    <input ng-model="element.title" name="title" type="text" >
                </md-input-container>
                
                <div ng-show="element.type == 'Paragraph'">
                    <md-input-container class="md-block" style="margin-top:-20px; margin-bottom:30px">
                        <label>Treść akapitu</label>
                    </md-input-container>
                    <textarea name="description" ui-tinymce="tinymceOptions" ng-model="element.description" ></textarea>
                </div>

                <md-input-container class="custom-modal-md-container" ng-show="element.type == 'Contact'">
                    <label>Adres</label>
                    <input ng-model="element.address" name="address" type="text" >
                </md-input-container>
                <md-input-container class="custom-modal-md-container" ng-show="element.type == 'Contact'">
                    <label>Nr telefonu</label>
                    <input ng-model="element.phone" name="phone" type="text" >
                </md-input-container>
                <md-input-container class="custom-modal-md-container" ng-show="element.type == 'Contact'">
                    <label>Email</label>
                    <input ng-model="element.email" name="email" type="text" >
                </md-input-container>
                <md-input-container class="custom-modal-md-container" ng-show="element.type == 'Contact'">
                    <label>Facebook</label>
                    <input ng-model="element.facebook" name="facebook" type="text" >
                </md-input-container>
                <md-input-container class="custom-modal-md-container" ng-show="element.type == 'Contact'">
                    <label>Twitter</label>
                    <input ng-model="element.twitter" name="twitter" type="text" >
                </md-input-container>
                <md-input-container class="custom-modal-md-container" ng-show="element.type == 'Contact'">
                    <label>GooglePlus</label>
                    <input ng-model="element.googlePlus" name="googlePlus" type="text" >
                </md-input-container>
                <md-input-container class="custom-modal-md-container" ng-show="element.type == 'Contact'">
                    <label>Pinterest</label>
                    <input ng-model="element.pinterest" name="pinterest" type="text" >
                </md-input-container>
                <md-input-container class="custom-modal-md-container" ng-show="element.type == 'Contact'">
                    <label>Youtube</label>
                    <input ng-model="element.youtube" name="youtube" type="text" >
                </md-input-container>

                <md-input-container class="custom-modal-md-container" ng-show="element.type == 'ContactForm'">
                    <label>Nazwa akapitu</label>
                    <input ng-model="element.title" name="title" type="text" >
                </md-input-container>
                
                <md-input-container class="custom-modal-md-container" ng-show="element.type == 'Map'">
                    <label>Nazwa akapitu</label>
                    <input ng-model="element.title" name="title" type="text" >
                </md-input-container>
                
                <md-input-container class="custom-modal-md-container" ng-show="element.type == 'Map'">
                    <label>Opis miejsca</label>
                    <input ng-model="element.description" name="title" type="text" >
                </md-input-container>

                <div ng-show="element.type == 'Map'">
                    <md-input-container class="md-block" style="margin-bottom: 30px;">
                        <label>Ustaw wskaźnik aby oznaczyć miejsce twojego wydarzenia</label>
                    </md-input-container>
                    <reg-map-edit on-show="element.type == 'Map'" lat="element.latitude" lng="element.longitude" >
                    </reg-map-edit>
                </div>
                

                <div class="row" ng-show="element.type == 'Image'">
                    <div class="col-md-6">
                        <img style="border: 1px solid #333" class="img-responsive" ng-src="{{element.url}}"/>
                    </div>
                    <div class="col-md-6">
                        <p ng-show="!uploader.isHTML5">
                            <form class="uploader-form" >
                                <input type="file" nv-file-select="" uploader="uploader" class="upload-button-image" />
                            </form>
                        </p>
                        <div class="drop-zone zone upload-area image-upload-area"
                             nv-file-drop=""
                             nv-file-over=""
                             uploader="uploader"
                             options="{url: '/api/files'}"
                             ng-click="uploadImageClick()">
                            <p class="upload-text">
                                Upload banera na stronę własną. Kliknij lub przciągnij zdjęcie.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="element.type == 'Carousel'">
                    <div class="col-md-8">
                        <md-input-container class="custom-modal-md-container">
                            <label>Ilość widocznych ikon na stronie</label>
                            <input ng-model="element.count" name="count" type="number" min="1" max="8">
                        </md-input-container>
                        <div class="row">
                            <div class="col-md-3" ng-repeat="imgObj in element.brand_list">
                                <img style="border: 1px solid #333" class="img-responsive" ng-src="{{imgObj.url}}" title="usuń" 
                                     ng-click="element.brand_list.splice($index,1)"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div ng-show="!uploader.isHTML5">
                            <form class="uploader-form" >
                                <input type="file" nv-file-select="" uploader="uploader" multiple="multiple" class="upload-button-carousel" />
                            </form>
                        </div>
                        <div class="drop-zone zone upload-area image-upload-area"
                             nv-file-drop=""
                             nv-file-over=""
                             uploader="uploader"
                             options="{url: '/api/files'}"
                             ng-click="uploadCarouselClick()">
                            <p class="upload-text">
                                Upload banera na stronę własną. Kliknij lub przciągnij zdjęcie.
                            </p>
                        </div>
                    </div>
                </div>
                
                
                
            </div>
            
            
            <div class="modal-footer custom-modal-footer">
                <button type="button" class="btn btn-default" ng-click="closeModal()" data-dismiss="modal">Zamknij</button>
            </div>            
        </form>
        
        


    </div>
</div>