<div class="modal-dialog img-rounded custom-modal" style="background-color: #36c6f4">
    <div class="modal-content">
        <div class="modal-header custom-modal-header">
            <button type="button" class="close" ng-click="closeModal()" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Edytuj akapit</h4>
        </div>
        <form name="itemForm" novalidate>
            <div class="modal-body">
                <md-input-container class="custom-modal-md-container">
                    <label>Nazwa akapitu</label>
                    <input ng-model="item.title" name="title" required md-maxlength="50" type="text" maxlength="50">
                </md-input-container>
                <div class="input-error-message error-md-modal" ng-show="itemForm.$submitted || itemForm.title.$touched">
                    <div ng-show="itemForm.title.$error.required">To pole jest wymagane.</div>
                </div>

                <div>
                    <md-input-container class="md-block" style="margin-top:-20px; margin-bottom:30px">
                        <label>Treść akapitu</label>
                    </md-input-container>
                    <textarea name="description" ui-tinymce="tinymceOptions" ng-model="item.description" required></textarea>
                </div>
                <div style="margin-top:0px"  class="input-error-message error-md-modal" ng-show="itemForm.$submitted || itemForm.description.$touched">
                    <div ng-show="itemForm.description.$error.required">To pole jest wymagane.</div>
                </div>
                <!--
                <md-input-container  class="md-block" ng-if="item.type==2">
                    <label>Treść akapitu</label>
                    <textarea ng-model="item.description" name="description" required></textarea>
                </md-input-container>
                <div class="input-error-message error-md-modal" ng-show="itemForm.$submitted || itemForm.description.$touched">
                    <div ng-show="itemForm.description.$error.required">To pole jest wymagane.</div>
                </div>
                -->

                <md-input-container class="custom-modal-md-container" style="margin-top:40px;" ng-if="item.type==2">
                    <label>Email</label>
                    <input ng-model="item.contact_data.email" name="email" required type="text" maxlength="50"
                           ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/">
                </md-input-container>
                <div class="input-error-message error-md-modal" ng-show="itemForm.$submitted || itemForm.email.$touched" ng-if="item.type==2">
                    <div ng-show="itemForm.email.$error.required">To pole jest wymagane.</div>
                    <div ng-show="itemForm.email.$error.pattern">Nieprawidłowy adres email.</div>
                </div>

                <md-input-container class="custom-modal-md-container" ng-if="item.type==2">
                    <label>Adres</label>
                    <input ng-model="item.contact_data.address" name="address" type="text" maxlength="50">
                </md-input-container>

                <md-input-container class="custom-modal-md-container" ng-if="item.type==2">
                    <label>Telefon</label>
                    <input ng-model="item.contact_data.telephone" name="telephone" md-maxlength="50" type="text" maxlength="50">
                </md-input-container>

                <div ng-if="item.type==3">
                    <md-input-container class="md-block" style="margin-bottom:30px">
                        <label>Użyj prawego przycisku myszy na mapie aby oznaczyć miejsce twojego wydarzenia</label>
                    </md-input-container>
                    <div id="map_canvas">
                        <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options' events='map.events'>
                            <ui-gmap-markers models="markers" coords="'self'" icon="'icon'"></ui-gmap-markers>
                        </ui-gmap-google-map>
                    </div>
                    <div style="margin-top:0px" class="input-error-message error-md-modal" ng-show="itemForm.$submitted">
                        <div ng-show="!markers.length">Oznacz miejsce wydarzenia.</div>
                    </div>
                </div>

            </div>
            <div class="modal-footer custom-modal-footer">
                <button type="button" class="btn btn-default" ng-click="closeModal()" data-dismiss="modal">Zamknij</button>
                <button type="submit" class="btn btn-primary custom-modal-footer-confirm" ng-click="saveItem(itemForm.$valid)">Edytuj akapit</button>
            </div>
        </form>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->