<div class="container" style="padding-top: 30px">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="summary">
                <p><span class="summary-label">Suma wpłat:</span><span class="summary-price" ng-bind="(summary.payment | rgPrice) + ' zł'"></span></p>
                <p><span class="summary-label">Suma wypłat:</span><span class="summary-price" ng-bind="(summary.payout | rgPrice) + ' zł'"></span></p>
                <p><span class="summary-label">Prowizja dotpay:</span><span class="summary-price" ng-bind="(summary.dotpay_commission | rgPrice) + ' zł'"></span></p>
                <p><span class="summary-label">Prowizja registreo:</span><span class="summary-price" ng-bind="(summary.registreo_commission | rgPrice) + ' zł'"></span></p>
                <p><span class="summary-label">Rabat:</span><span class="summary-price" ng-bind="summary.discount + ' %'"></span></p>
                <p><span class="summary-label">Wyliczona prowizja:</span><span class="summary-price" ng-bind="(summary.commission | rgPrice) + ' zł'"></span></p>
                <p><span class="summary-label">Do wypłaty:</span><span class="summary-price" ng-bind="(amount | rgPrice) + ' zł'"></span></p>
            </div>
            <button style="max-width: 100% !important;" class="btn-blue btn-blue-md submit custom-form-add-event" ng-show="buttonVisible && amount > 0" ng-click="payoutClick()">
                    Wypłać &nbsp; &nbsp; <i class="glyphicon glyphicon-piggy-bank fa-lg"></i>
            </button>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <p><strong>Lista wypłat</strong></p>
            <table class="table table-striped" ng-show="payoutList.length > 0">
                <thead>
                    <tr>
                        <th><strong>#</strong></th>
                        <th><strong>Numer</strong></th>
                        <th><strong>Wypłata</strong></th>
                        <th><strong>Prowizja dotpay</strong></th>
                        <th><strong>Status</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="payout in payoutList">
                        <th scope="row">{{ $index + 1 }}</th>
                        <td ng-bind="payout.number"></td>
                        <td ng-bind="(payout.amount | rgPrice) + ' zł'"></td>
                        <td ng-bind="(payout.dotpay_commission | rgPrice) + ' zł'"></td>
                        <td ng-bind="payout.status"></td>
                    </tr>    
                </tbody>
            </table>
            <p><strong>Lista wpłat</strong></p>
            <table class="table table-striped" ng-show="transactionList.length > 0">
                <thead>
                    <tr>
                        <th><strong>#</strong></th>
                        <th><strong>Uczestnik</strong></th>
                        <th><strong>Numer</strong></th>
                        <th><strong>Prowizja dotpay</strong></th>
                        <th><strong>Prowizja registreo</strong></th>
                        <th><strong>Procent prowizji</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="transaction in transactionList">
                        <th scope="row">{{ $index + 1 }}</th>
                        <td ng-bind="transaction.participant.name + ' ' + transaction.participant.surname"></td>
                        <td ng-bind="transaction.number"></td>
                        <td ng-bind="(transaction.dotpay_commission | rgPrice) + ' zł'"></td>
                        <td ng-bind="(transaction.commission | rgPrice) + ' zł'"></td>
                        <td ng-bind="transaction.percent + ' %'"></td>
                    </tr>    
                </tbody>
            </table>
            <p style="margin-top: 15px; margin-bottom: 35px;" class="field" ng-show="showAll">
                <a class="login-link" ng-click="getAll()">
                    pokaż wszystkie
                </a>
            </p>
        </div> 
    </div>
</div>