<div class="container" style="padding-top: 15px">
    <div class="col-md-12 text-center">
        <div class="col-md-8 col-md-offset-2">

            <div class="row" ng-if="!loadingEvents">
                <div class="col-md-8">
                    <div class="input-group input-group-lg event-search">
                        <input type="text" class="form-control" ng-model="pharse" placeholder="Szukaj po ...">
                        <span class="input-group-btn">
                            <button class="btn event-search-button" type="button" ng-click="searchBy()">Szukaj</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <button class="btn-blue btn-blue-md submit custom-form-add-event" type="submit" ng-click="addEvent()">
                        Dodaj wydarzenie &nbsp; &nbsp; <i class="fa fa-plus fa-lg"></i>
                    </button>
                </div>
            </div>


            <div class="tab-spinner" ng-show="loadingEvents" style="margin-top: 300px;">
                <span us-spinner></span>
            </div>

            <p class="section-title-caption" ng-if="!loadingEvents && !events.length" style="margin-top: 100px;">
                Brak wydarzeń na liście. <a href="javascript:void(0)" ng-click="addEvent()">Dodaj pierwsze wydarzenie</a>.
            </p>


            <div class="blog-comment text-left" ng-show="!loadingEvents">
                <div ng-repeat="event in events | filter:{name:search_name}" class="event-list img-rounded">
                    <div class="event-name" ng-bind="event.name"></div>
                    <div class="event-details">
                        <span class="event-details-active" ng-if="event.status">
                            <i class="fa fa-check-circle"></i> aktywny
                        </span>
                        <span class="event-details-inactive" ng-if="!event.status">
                            <i class="fa fa-times-circle"></i> nieaktywny
                        </span>
                        <span>
                            <i class="fa fa-calendar"></i>{{ event.start_date | date : dd-MM-yyyy }}
                        </span>
                        <span ng-show="!event.closed">
                            <i class="fa fa-user"></i>{{ event.limit }}
                        </span>
                        <span ng-show="event.closed">
                            <i class="fa fa-lock"></i>dla wybranch
                        </span>
                        <span ng-show="!event.free">
                            <i class="fa fa-money" aria-hidden="true"></i>{{ event.fee }} zł
                        </span>
                        <span ng-show="event.free">
                            <i class="fa fa-star" aria-hidden="true"></i> Brak opłaty
                        </span>
                    </div>
                    <div class="event-short-description text-justify" ng-bind="event.description"></div>
                    
                    
                    <div class="event-buttons">
                        <ul>
                            <li>
                                <md-content ng-click="showManagePanel(event)" class="img-rounded" 
                                        ng-class="{'link-content' :event.status, 'link-content-disable' :!event.status}">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                    <md-tooltip md-direction="down">
                                        Zarządzaj wydarzeniem
                                    </md-tooltip>
                                </md-content>
                            </li>
                            <li>
                                <md-content ng-click="showParticipants(event.id)" class="link-content img-rounded">
                                    <i class="glyphicon glyphicon-user"></i>
                                    <md-tooltip md-direction="down">
                                        Lista uczestników
                                    </md-tooltip>
                                </md-content>
                            </li>
                            <li>
                                <md-content class="img-rounded" ng-click="showEventPage(event)"
                                            ng-class="{'link-content' :event.status, 'link-content-disable' :!event.status}">
                                    <i class="glyphicon glyphicon-search"></i>
                                    <md-tooltip md-direction="down">
                                        Pokaż strone wydarzenia
                                    </md-tooltip>
                                </md-content>
                            </li>
                            <li>
                                <md-content class="img-rounded" ng-click="showRegisterForm(event)"
                                            ng-class="{'link-content' :event.status && !event.closed , 'link-content-disable' :!event.status || event.closed}">
                                    <i class="glyphicon glyphicon-list-alt"></i>
                                    <md-tooltip md-direction="down">
                                        Pokaż formularz rejestracji wydarzenia
                                    </md-tooltip>
                                </md-content>
                            </li>
                            <li>
                                <md-content class="img-rounded" ng-click="showTransactions(event)"
                                            ng-class="{'link-content' : !event.free , 'link-content-disable' : event.free}">
                                    <i class="glyphicon glyphicon-euro"></i>
                                    <md-tooltip md-direction="down">
                                        Przejdź do rozliczeń płatności
                                    </md-tooltip>
                                </md-content>
                            </li>
                            <li>
                                <md-content class="img-rounded" ng-click="disableEvent($event ,event)"
                                            ng-class="{'link-content' : event.status , 'link-content-disable' : !event.status}">
                                    <i class="glyphicon glyphicon-lock"></i>
                                    <md-tooltip md-direction="down">
                                        Zablokuj wydarzenie
                                    </md-tooltip>
                                </md-content>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- ng-include src="'/app/event/views/pagination.html'" /-->
    </div>
</div>