<div class="row">
    <div class="col-md-2 manage-tabs-side"> &nbsp; </div>
    <div class="col-md-8 manage-tabs-main">
        <div class="manage-tabs" ng-cloak>
            <md-content>
                <md-tabs md-stretch-tabs="always" md-dynamic-height="" md-border-bottom="true" md-selected="currentTab" style="color:black">
                    <md-tab label="Moje wydarzenie" ui-sref="event.edit({eventId: {{ eventsManageCtrl.eventId }}})">
                        <div ui-view="edit"></div>
                    </md-tab>
                    <md-tab label="Strona informacyjna" ui-sref="event.page({eventId: {{ eventsManageCtrl.eventId }}})">
                        <div ui-view="page"></div>
                    </md-tab>
                    <md-tab label="Formularz zgłoszeniowy" ui-sref="event.form({eventId: {{ eventsManageCtrl.eventId }}})">
                        <div ui-view="form"></div>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
    </div>
    <div class="col-md-2 manage-tabs-side"></div>
</div>



