<div class="pagination" ng-show="pagin.visible">
    <ul>
        <li ng-show="pagin.prev">
            <a href="javascript:void(0)" ng-click="setPage(pagin.current - 1)">
                <i class="fa fa-angle-double-left"></i>
            </a>
        </li>

        <li ng-repeat="p in pagin.pages">
            <a ng-class="{active: p == pagin.current}" href="javascript:void(0)" ng-click="setPage(p)" ng-bind="p" style="margin: 1px"></a>
        </li>

        <li ng-show="pagin.next">
            <a href="javascript:void(0)" ng-click="setPage(pagin.current + 1)">
                <i class="fa fa-angle-double-right"></i>
            </a>
        </li>
    </ul>
</div>