<div class="container" style="padding-top: 30px">
    <notifications></notifications>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <span us-spinner ng-show="participantsCtrl.loadParticipants"></span>

            <div ng-if="!participantsCtrl.loadParticipants && totalResult">
                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                <a href="/export/participants/{{ eventId }}">eksport uczestników</a>
            </div>

            <div ng-show="!participantsCtrl.loadParticipants && !totalResult">
                <div class="alert alert-info alert-dismissible">
                    <div class="pull-left">
                        <div class="ng-binding">
                            Brak zarejestrowanych uczestników dla wybranego wydarzenia.
                            <a ng-click="myaccount()" href="javascript:void(0)">Powrót do listy wydarzeń.</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            
            
            <div ng-show="event.closed">
                <form name="participantForm" novalidate>
                    <h4 class="section-title margin-top-20">Zaproś osobę</h4>
                    <div class="main-title-border-left"></div>
                    <div class="event_invitation_form">
                        <div class="row">
                            <div class="col-md-6">
                                <md-input-container style="width: 100%">
                                    <label>Imię</label>
                                    <input ng-model="newParticipant.name" name="name" type="text" maxlength="50" md-maxlength="50" minlength="2" md-minlength="2" required>
                                </md-input-container>                              
                                <div class="input-error-message error-md" ng-show="participantForm.$submitted || participantForm.name.$touched">
                                    <div ng-show="participantForm.name.$error.required">To pole jest wymagane.</div>
                                    <div ng-show="participantForm.name.$error.minlength">Imię musi zawierać minimum 2 znaki.</div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <md-input-container style="width: 100%">
                                    <label>Nazwisko</label>
                                    <input ng-model="newParticipant.surname" name="surname" type="text" maxlength="50" md-maxlength="50" minlength="2" md-minlength="2" required>
                                </md-input-container>
                                <div class="input-error-message error-md" ng-show="participantForm.$submitted || participantForm.surname.$touched">
                                    <div ng-show="participantForm.surname.$error.required">To pole jest wymagane.</div>
                                    <div ng-show="participantForm.surname.$error.minlength">Nazwisko musi zawierać minimum 2 znaki.</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <md-input-container style="width: 100%">
                                    <label>Emial</label>
                                    <input ng-model="newParticipant.email" name="email" type="email"  required>
                                </md-input-container>
                                <div class="input-error-message error-md" ng-show="participantForm.$submitted || participantForm.email.$touched">
                                    <div ng-show="participantForm.email.$error.required">To pole jest wymagane.</div>
                                    <div ng-show="participantForm.email.$error.email">Adres email jest nieprawidłowy</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input ng-show="!participantSaveing" type="submit" ng-click="saveParticipant(participantForm.$valid)" value="Wyślij" class="btn-blue btn-blue-md submit own-input-form pull-right">
                                <i ng-show="participantSaveing" class="fa fa-spinner fa-spin fa-2x save-spinner pull-right"></i>
                            </div>
                        </div>
                    </div>
                </form>
            </div>


            <table class="table table-striped" ng-show="totalResult">
                <thead>
                    <tr>
                        <th><strong>#</strong></th>
                        <th><strong>Imię</strong></th>
                        <th><strong>Nazwisko</strong></th>
                        <th><strong>Dodano</strong></th>
                        <th><strong>Szczegóły</strong></th>
                        <th ng-if="!user.freeAccount"><strong>Status płatności</strong></th>
                        <th ng-if="user.freeAccount"><strong>Status rejestracji</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="participant in participantsCtrl.participants">
                        <th scope="row">{{ $index + 1 + ((page-1) * limit)}}</th>
                        <td>{{ participant.name }}</td>
                        <td>{{ participant.surname }}</td>
                        <td>{{ participant.added | date:'dd-MM-yyyy' }}</td>
                        <td><i ng-click="participantsCtrl.showDetails($event, participant.id)" style="cursor:pointer;" class="fa fa-eye fa-lg"></i></td>
                        <td>
                            <div class="pull-left img-rounded text-center payments_status payments_status-{{participant.payment_status}}">
                                <span  ng-bind="participant.statusName"></span>
                                <md-icon ng-if="!event.free" ng-show="participant.payment_status !=3" class="pull-right payment_edit" ng-click="participantsCtrl.checkPaid($event ,participant)">
                                    <i class="fa fa fa-check-square-o"></i>
                                    <md-tooltip md-direction="right">
                                        Zaznacz opłacone
                                    </md-tooltip>
                                </md-icon>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="text-center">
                <ng-include src="'/app/event/views/pagination.html'"  />
            </div>
        </div>
    </div>
</div>