<md-dialog class="md-dialog-participant_details">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Szczegóły widok uczestnika</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeModal()">
                <i class="fa fa-times"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
        <div class="md-dialog-content-body ng-isolate-scope">

            <span us-spinner ng-show="loadingParticipantDetails"></span>

            <table class="table table-striped" ng-show="!loadingParticipantDetails">
                <tbody>
                    <tr class="group-member-row" ng-repeat="field in participantFields">
                        <td>{{ field.form_field.label }}</td><td>{{ field.value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-dialog-content>
    <div class="md-actions">
        <md-button ng-click="closeModal()" class="md-primary dialog-button">Zamknij</md-button>
    </div>
</md-dialog>