<div class="tab-spinner" ng-show="customFormLoading">
    <span us-spinner></span>
</div>

<div class="tab-content" ng-show="!customFormLoading">
    <notifications></notifications>
    <!-- Custom content -->
    <div>
        <h4 class="section-title margin-top-20">
            Zawartość formularza zgłoszeniowego &nbsp;
            <md-icon style="height: 19px;" ng-if="!form.active">
                <i class="fa fa-question-circle"></i>
                <md-tooltip md-direction="right">
                    Aby opublikować skonfigurowany formularz, aktywuj go.
                </md-tooltip>
            </md-icon>
        </h4>

        <div class="main-title-border-left"></div>

        <div class="custom_page_configuration_section">

            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label class="custom-select-label">Wybierz typ pola formularza</label>
                        <select name="selectedItem" class="form-control" id="selectElement">
                            <option value="1" selected>Pole tekstowe</option>
                            <option value="2">Pole opisowe (długi tekst)</option>
                            <option value="3">Wybór opcji</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3" style="padding-left: 0">
                    <button ng-if="!form.active" class="btn-blue btn-blue-md submit custom-form-add-element pull-left"
                            type="submit"
                            ng-click="addField()">
                        Dodaj do formularza &nbsp; &nbsp; <i class="fa fa-plus fa-lg"></i>
                    </button>
                </div>
            </div>

            <ul ui-sortable="sortableOptions" ng-model="form.fields">
                <li ng-repeat="field in form.fields | orderBy:'order'" class="item img-rounded">
                    <div class="row">
                        <div class="col-md-8">
                            {{field.label}}
                        </div>
                        <div class="col-md-4">
                            <div class="custom-item-buttons pull-right">
                                <ul>
                                    <li class="img-rounded" ng-if="field.editable && !form.active">
                                        <md-content class="link-content img-rounded" ng-click="editField($event, field)" aria-label="Edytuj pole formularza" role="button" tabindex="0">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                            <md-tooltip>
                                                Edytuj pole formularza
                                            </md-tooltip>
                                        </md-content>
                                    </li>
                                    <li ng-if="field.editable && !form.active">
                                        <md-content class="link-content img-rounded" ng-click="removeField($event, field)" aria-label="Usuń pole formularza" role="button" tabindex="0">
                                            <i class="fa fa-times"></i>
                                            <md-tooltip>
                                                Usuń pole formularza
                                            </md-tooltip>
                                        </md-content>
                                    </li>
                                    <li ng-if="!form.active">
                                        <md-content aria-label="Posortuj akapity" tabindex="0" style="background-color: #fafafa">
                                            <i class="fa fa-arrows-v fa-lg custom-sortable-icon"></i>
                                            <md-tooltip md-direction="right">
                                                Posortuj przesuwając element w góre lub w dół
                                            </md-tooltip>
                                        </md-content>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <md-button ng-show="form.active" class="own-input-form submit-inactive pull-right">
        Zapisz
        <md-tooltip md-direction="left">
            Formularz został aktywowany i nie można już w nim dokonywać zmian.
        </md-tooltip>
    </md-button>

    <input ng-show="!savingForm && !form.active" type="submit" ng-click="saveForm()" value="Zapisz" class="btn-blue btn-blue-md submit own-input-form pull-right">
    <input ng-show="!savingForm && !form.active" type="submit" ng-click="activateForm()" value="Aktywuj formularz" class="btn-blue btn-blue-md submit own-input-form pull-right" style="max-width: 150px; margin-right: 10px">
    <i ng-show="savingForm" class="fa fa-spinner fa-spin fa-2x save-spinner pull-right"></i>

    <br><br><br><br>

</div>