<div class="tab-spinner" ng-show="customPageLoading">
    <span us-spinner ng-show="customPageLoading"></span>
</div>

<div class="tab-content" ng-show="!customPageLoading">
    <notifications notification-id="1"></notifications>
    <h4 class="section-title margin-top-20">Konfiguracja strony</h4>
    <div class="main-title-border-left"></div>

    <div class="custom_page_configuration_section">
        <md-checkbox ng-class="{'md-checked' : page.active}" ng-model="page.active">
            Aktywna strona własna &nbsp;
            <md-icon>
                <i class="fa fa-question-circle"></i>
                <md-tooltip md-direction="right">
                    Wyłączenie tej opcji spowoduje, że strona własna nie będzie dostępna.
                </md-tooltip>
            </md-icon>
        </md-checkbox>
        <br>
        <md-checkbox ng-class="{'md-checked' : page.list_view}" ng-model="page.list_view" style="margin-bottom: 0;">
            Widoczna lista uczestników &nbsp;
            <md-icon>
                <i class="fa fa-question-circle"></i>
                <md-tooltip md-direction="right">
                    Na menu strony własnej będzie link do listy uczestników tego wydarzenia.
                </md-tooltip>
            </md-icon>
        </md-checkbox>
        <br>
        <div class="form-group" style="padding-top: 15px">
            <label class="custom-select-label">Wersja kolorystyczna strony</label>
            <select ng-model="page.body.style" class="form-control" style="width: 200px">
                <option value="default.css">Domyśnly</option>
                <option value="dark.css">Ciemny</option>
                <option value="red.css">Czerwony</option>
                <option value="green.css">Zielony</option>
                <option value="silver.css">Srebrny</option>
                <option value="gray.css">Szary</option>
                <option value="yellow.css">Żółty</option>
                <option value="olive.css">Oliwkowy</option>
                <option value="navy.css">Granatowy</option>
                <option value="blue.css">Niebieski</option>
                <option value="aqua.css">Morski</option>
            </select>
        </div>
    </div>

    <!--Banner uploader -->
    <div>
        <h4 class="section-title margin-top-20">Ustaw baner</h4>
        <div class="main-title-border-left"></div>

        <div class="row">
            <div class="col-md-6">
                <p>wybierz lub dodaj własny</p>            
                <div style="height: 200px; overflow-y: auto; overflow-x: hidden; margin-bottom: 10px;">
                    <div class="row" style="padding-bottom: 10px" ng-repeat="bannerGroup in regBanners">
                        <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4" ng-repeat="banner in bannerGroup">
                            <a href="javascript:void(0)" ng-click="setBanner(banner)">
                                <img ng-src="{{banner}}" class="img-responsive" />
                            </a>
                        </div>
                    </div>
                </div>

                <form class="uploader-form" ng-show="!uploader.isHTML5">
                    <input type="file" nv-file-select="" uploader="uploader" class="upload-button" />
                </form>
                <notifications notification-id="2"></notifications>
                <div class="drop-zone zone upload-area image-upload-area"
                     nv-file-drop=""
                     nv-file-over=""
                     uploader="uploader"
                     options="{url: '/api/files'}"
                     ng-click="onUploadClick()">
                    <p class="upload-text">
                        Upload banera na stronę własną. Kliknij lub przciągnij zdjęcie.
                    </p>
                </div>
                
            </div>
            <div class="col-md-6">
                <p>wybrany baner</p>            
                <div style="margin-bottom: 10px; height: 200px; width: 100%; border: 1px solid #333; background-size: 100% 200px; background-position: center;  background-repeat: no-repeat" 
                     ng-style="{ 'background-image': 'url('+ page.body.banner.url +')' }">
                     <p style="text-align: center; font-size: 24px; font-weight: bold; padding-top: 15px; color: #333"
                        ng-show="page.body.banner.advanced" ng-bind="page.body.banner.title"></p>
                     <p style="text-align: center; font-size: 14px; font-weight: bold; padding-top: 15px; color: #333" 
                        ng-show="page.body.banner.advanced" ng-bind="page.body.banner.description"></p>                
                </div>
                <div class="custom_page_configuration_section" >
                    <md-checkbox ng-class="{'md-checked' : page.body.banner.advanced}" ng-model="page.body.banner.advanced">
                        Dodatkowe ustawienia banneru &nbsp;
                        <md-icon>
                            <i class="fa fa-question-circle"></i>
                            <md-tooltip md-direction="right">
                                Wyłączenie tej opcji umożliwia dodanie tytuł, opisu oraz daty wydarzenia
                            </md-tooltip>
                        </md-icon>
                    </md-checkbox>
                    <md-input-container style="width:100%" ng-show="page.body.banner.advanced">
                        <label>Nazwa wydarzenia</label>
                        <input ng-model="page.body.banner.title" required md-maxlength="50" type="text" maxlength="50">
                    </md-input-container>

                    <md-input-container style="width:100%" ng-show="page.body.banner.advanced">
                        <label>Opis wydarzenia</label>
                        <input ng-model="page.body.banner.description" required md-maxlength="100" type="text" maxlength="100">
                    </md-input-container>


                </div>


            </div>
        </div>
    </div>

    
    <!-- CMS EDITOR -->
    <div>
        <h4 class="section-title margin-top-20">Układ strony</h4>
        <div class="main-title-border-left"></div>
        <div class="custom_page_configuration_section">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group" style="margin-bottom: -1px;>
                        <li class="list-group-item" style="height: 120px; padding: 0px">
                            <img ng-src="{{page.body.banner.url}}"  class="img-responsive" style="height: 120px; width: 100%"/>
                        </li>

                        <li class="list-group-item" style="height: 80px; text-align: center">
                            {{ page.body.main_paragraph.title }}
                            <a href="javascript:void(0)" ng-click="editSection(page.body.main_paragraph, true)" class="pull-right">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                    <ul id="event_page" class="list-group" dnd-list="page.body.section_list"  
                        dnd-dragover="dragOver(index)"
                        dnd-drop="dropCallback(index, item, external, type)" style="height: 400px; border: 1px dashed #b5b2b2;">
                        <li ng-repeat="item in page.body.section_list"
                            class="list-group-item {{item.class}}"
                            dnd-draggable="item"
                            dnd-dragstart="dragStartMove($index)"
                            dnd-effect-allowed="move"
                            style ="height: 80px; text-align: center; cursor: pointer">
                            
                            <span ng-switch="item.element.type">
                                <span ng-switch-when="Paragraph">{{item.element.title}}</span>
                                <span ng-switch-when="Map"><i style="font-size: 30px" class="fa fa-map-o"></i></span>
                                <span ng-switch-when="Contact"><i style="font-size: 30px" class="fa fa-phone"></i></span>
                                <span ng-switch-when="ContactForm"><i style="font-size: 30px" class="fa fa-list"></i></span>
                                <img ng-switch-when="Image" style="height: 60px; width: 60px; float: left"  ng-src="{{item.element.url}}">
                                <span ng-switch-when="Carousel">
                                    <i style="font-size: 18px" class="fa fa-picture-o"></i>
                                    <i style="font-size: 18px" class="fa fa-picture-o"></i>
                                    <i style="font-size: 18px" class="fa fa-picture-o"></i>
                                    <i style="font-size: 18px" class="fa fa-picture-o"></i>
                                </span>
                                
                                <span ng-switch-default>{{item.title}}</span>
                            </span>
                            
                            <a href="javascript:void(0)" ng-click="page.body.section_list.splice($index, 1)" class="pull-right">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </a>
                            <a href="javascript:void(0)" ng-click="item.id = $index; editSection(item.element, false)" class="pull-right">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>     
                </div>
                
                <div class="col-md-6">
                    <p style="font-weight: bold"> Dodaj nową sekcję do strony </p>
                    <ul class="list-group row" dnd-list="sections" dnd-disable-if="true" >
                        
                        <li ng-repeat="item in sections" class="list-group-item {{item.class}}"
                            dnd-draggable="item"
                            dnd-type="'item'"
                            dnd-effect-allowed="copy"
                            dnd-selected="sections.selected = item"
                            dnd-dragstart="dragStartCopy($index)"
                            style ="height: 80px; text-align: center; cursor: pointer; background-color: #eaeaea; border-color: #333">
                            {{item.title}}
                        </li>
                    </ul>
                    
                </div>

            </div>
            
        </div>

        
    </div>

    <input ng-show="!savingPage" type="submit" ng-click="savePage()" value="Zapisz" class="btn-blue btn-blue-md submit own-input-form pull-right">
    <i ng-show="savingPage" class="fa fa-spinner fa-spin fa-2x save-spinner pull-right"></i>

    <br><br><br><br>
</div>
