<div class="tab-spinner" ng-show="editEventLoading || loadCurrentUser">
    <span us-spinner></span>
</div>

<div class="tab-content" ng-show="!editEventLoading && !loadCurrentUser">
    <notifications></notifications>

    <form name="eventForm" novalidate>
        <div>
            <h4 class="section-title margin-top-20">Dane wydarzenia</h4>
            <div class="main-title-border-left"></div>

            <div class="custom_page_configuration_section" style="width:130%">

                <div class="row">
                    <div class="col-md-2" ng-if="!edit">
                        <mdp-date-picker mdp-open-on-click
                                         required
                                         name="event_date"
                                         mdp-placeholder="Data wydarzenia"
                                         mdp-min-date="today"
                                         mdp-max-date="maxDate"
                                         mdp-format="DD-MM-YYYY"
                                         ng-model="event.event_date">
                            <div ng-messages="eventForm.event_date.$error" ng-if="eventForm.event_date.$touched || eventForm.$submitted">
                                <div ng-message="required">Pole jest wymagane</div>
                                <div ng-message="format">Nieprawidłowy format</div>
                            </div>
                        </mdp-date-picker>
                    </div>

                    <div class="col-md-2" ng-if="!edit">
                        <mdp-time-picker mdp-open-on-click
                                         {{ required }}
                                         mdp-placeholder="Godzina rozpoczęcia"
                                         name="event_hour"
                                         ng-model="event.event_hour"
                                         mdp-format="HH:mm">
                            <div ng-messages="eventForm.event_hour.$error" ng-if="eventForm.event_date.$touched || eventForm.$submitted">
                                <div ng-message="required">Pole jest wymagane</div>
                                <div ng-message="format">Nieprawidłowy format</div>
                            </div>
                        </mdp-time-picker>
                    </div>

                    <div class="col-md-2" ng-if="!edit">
                        <mdp-date-picker mdp-open-on-click
                                         required
                                         name="registration_date"
                                         mdp-placeholder="Koniec rejestracji"
                                         mdp-min-date="today"
                                         mdp-max-date="maxDate"
                                         mdp-format="DD-MM-YYYY"
                                         ng-model="event.registration_date">
                            <div ng-messages="eventForm.registration_date.$error" ng-if="eventForm.registration_date.$touched || eventForm.$submitted">
                                <div ng-message="required">Pole jest wymagane</div>
                                <div ng-message="format">Nieprawidłowy format</div>
                            </div>
                        </mdp-date-picker>
                    </div>


                    <div class="col-md-2"  ng-if="edit">
                        <mdp-date-picker mdp-open-on-click
                                         name="event_date"
                                         mdp-placeholder="Data wydarzenia"
                                         mdp-min-date="today"
                                         mdp-max-date="maxDate"
                                         mdp-format="DD-MM-YYYY"
                                         ng-model="event.event_date">
                            <div ng-messages="eventForm.event_date.$error" ng-if="eventForm.event_date.$touched || eventForm.$submitted">
                                <div ng-message="required">Pole jest wymagane</div>
                                <div ng-message="format">Nieprawidłowy format</div>
                            </div>
                        </mdp-date-picker>
                    </div>

                    <div class="col-md-2"  ng-if="edit">
                        <mdp-time-picker mdp-open-on-click
                                         mdp-placeholder="Godzina rozpoczęcia"
                                         name="event_hour"
                                         ng-model="event.event_hour"
                                         mdp-format="HH:mm">
                            <div ng-messages="eventForm.event_hour.$error" ng-if="eventForm.event_date.$touched || eventForm.$submitted">
                                <div ng-message="required">Pole jest wymagane</div>
                                <div ng-message="format">Nieprawidłowy format</div>
                            </div>
                        </mdp-time-picker>
                    </div>
                    <div class="col-md-2" ng-if="edit">
                        <mdp-date-picker mdp-open-on-click
                                         name="registration_date"
                                         mdp-placeholder="Koniec rejestracji"
                                         mdp-min-date="today"
                                         mdp-max-date="maxDate"
                                         mdp-format="DD-MM-YYYY"
                                         ng-model="event.registration_date">
                            <div ng-messages="eventForm.registration_date.$error" ng-if="eventForm.registration_date.$touched || eventForm.$submitted">
                                <div ng-message="required">Pole jest wymagane</div>
                                <div ng-message="format">Nieprawidłowy format</div>
                            </div>
                        </mdp-date-picker>
                    </div>


                    <div class="col-md-6 grid-left-zero">
                        <md-icon class="event-manage-info">
                            <i class="fa fa-question-circle"></i>
                            <md-tooltip md-direction="right">
                                Po dacie końca rejestracji, formularz rejestracji zostanie zablokowany.
                            </md-tooltip>
                        </md-icon>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <md-input-container style="width: 100%">
                            <label>Nazwa</label>
                            <input ng-model="event.name" name="name" type="text" maxlength="50" md-maxlength="50" minlength="2" md-minlength="2" required>
                        </md-input-container>
                        <div class="input-error-message error-md" ng-show="eventForm.$submitted || eventForm.name.$touched">
                            <div ng-show="eventForm.name.$error.required">To pole jest wymagane.</div>
                            <div ng-show="eventForm.name.$error.minlength">Nazwa musi zawierać minimum 2 znaki.</div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-left-zero">
                        <md-icon class="event-manage-info">
                            <i class="fa fa-question-circle"></i>
                            <md-tooltip md-direction="right">
                                Widoczne na liście wydarzeń, domyślnie wyświetlone na stronie własnej.
                            </md-tooltip>
                        </md-icon>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <md-input-container style="width: 100%">
                            <label>Link</label>
                            <input ng-model="event.seo_link.name" name="link" type="text" ng-disabled="edit" maxlength="50" md-maxlength="50" minlength="4" md-minlength="4" ng-pattern="/^[0-9a-z\-]+$/" required>
                        </md-input-container>
                        <div class="input-error-message error-md" ng-show="eventForm.$submitted || eventForm.link.$touched">
                            <div ng-show="eventForm.link.$error.required">To pole jest wymagane.</div>
                            <div ng-show="eventForm.link.$error.minlength">Link musi zawierać minimum 4 znaki.</div>
                            <div ng-show="eventForm.link.$error.pattern">Link może zawierać tylko małe litery cyfry oraz znak "-"</div>

                        </div>
                    </div>
                    <div class="col-md-6 grid-left-zero">
                        <md-icon class="event-manage-info">
                            <i class="fa fa-question-circle"></i>
                            <md-tooltip md-direction="right">
                                link do wydarzenia np: registreo.pl/my-first-event
                            </md-tooltip>
                        </md-icon>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <md-input-container style="width: 100%">
                            <label>Opis</label>
                            <textarea ng-model="event.description" name="description" maxlength="400" md-maxlength="400" minlength="5" md-minlength="5" required></textarea>
                        </md-input-container>
                        <div class="input-error-message error-md" ng-show="eventForm.$submitted || eventForm.description.$touched">
                            <div ng-show="eventForm.description.$error.required">To pole jest wymagane.</div>
                            <div ng-show="eventForm.description.$error.minlength">Poprawne opis musi mieć minimum 5 znaków.</div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-left-zero">
                        <md-icon class="event-manage-info">
                            <i class="fa fa-question-circle"></i>
                            <md-tooltip md-direction="right">
                                Widoczne na liście wydarzeń.
                            </md-tooltip>
                        </md-icon>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <md-checkbox ng-model="event.closed" ng-disabled="edit" class="text-justify" 
                                     ng-class="{'md-checked': event.closed}" 
                                     name="closed" >
                          Wydarzenie tylko dla wybranch osób. Nie zawiera formularza rejestracyjnego, tylko zaproszenia wysyłane są drogą mailową
                        </md-checkbox>
                    </div>
                </div>
                
                <div class="row" ng-show="!event.closed">
                    <div class="col-md-6">
                        <md-input-container style="width: 100%">
                            <label>Pula uczestników</label>
                            <input ng-model="event.limit" type="number" name="limit" maxlength="5" min="1" ng-pattern="/^\d*$/" required>
                        </md-input-container>
                        <div class="input-error-message error-md" ng-show="eventForm.$submitted || eventForm.limit.$touched">
                            <div ng-show="eventForm.limit.$error.required">To pole jest wymagane.</div>
                            <div ng-show="eventForm.limit.$error.pattern">Pula musi być liczbą całkowitą.</div>
                            <div ng-show="eventForm.limit.$error.number">Pula musi być liczbą, większą od 0</div>
                            <div ng-show="eventForm.limit.$error.min">Pula musi być liczbą, większą od 0</div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-left-zero">
                        <md-icon class="event-manage-info">
                            <i class="fa fa-question-circle"></i>
                            <md-tooltip md-direction="right">
                                Rejestracja uczestników będzie zablokowana po przekroczeniu puli.
                            </md-tooltip>
                        </md-icon>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <md-checkbox ng-model="event.free" class="text-justify" 
                                     ng-class="{'md-checked': event.free}" ng-disabled="edit"
                                     name="free">
                          Wydarzenie darmowe. Nie pobieram opłat za wstęp.    
                        </md-checkbox>
                    </div>
                </div>
                
                <div class="row" ng-show="!event.free">
                    <div class="col-md-6">
                        <md-input-container style="width: 100%">
                            <label>Opłata rejestracyjna (zł)</label>
                            <input ng-model="event.fee" name="fee" type="number" maxlength="5" min="15" ng-pattern="/^\d*$/" required>
                        </md-input-container>
                        <div class="input-error-message error-md" ng-show="eventForm.$submitted || eventForm.fee.$touched">
                            <div ng-show="eventForm.fee.$error.required">To pole jest wymagane.</div>
                            <div ng-show="eventForm.fee.$error.pattern">Opłata musi być liczbą całkowitą.</div>
                            <div ng-show="eventForm.fee.$error.number">Minimalna opłata wynosi 15 zł.</div>
                            <div ng-show="eventForm.fee.$error.min">Minimalna opłata wynosi 15 zł.</div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-left-zero">
                        <md-icon class="event-manage-info">
                            <i class="fa fa-question-circle"></i>
                            <md-tooltip md-direction="right">
                                Opłata za rejestracje jednego uczestnika w zł.
                            </md-tooltip>
                        </md-icon>
                    </div>
                </div>

                <div class="row" ng-if="!(event.id)">
                    <div class="col-md-6">
                        <md-checkbox ng-model="event.regulation_accept" class="text-justify" name="regulation" required>
                            Oświadczam, iż zapoznałem się z <a href="https://registreo.pl/#/pricing">cennikiem</a> oraz <a target="_blank" href="/assets/docs/event-regulation.pdf">Regulaminem</a> świadczenia usługi jako właściciel wydarzenia i go akceptuję.
                        </md-checkbox>
                        <div class="input-error-message error-md-checkbox" ng-show="eventForm.$submitted || eventForm.regulation.$touched">
                            <div ng-show="eventForm.regulation.$error.required">Akceptacja regulaminu jest wymagana.</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div ng-show="!event.free">
            <h4 class="section-title margin-top-20">
                    Dane konta bankowego &nbsp;
                    <md-icon style="height: 19px;">
                        <i class="fa fa-question-circle"></i>
                        <md-tooltip md-direction="right">
                            Na to konto będą przelewane pieniądze z tytułu rejestracji uczestników.
                        </md-tooltip>
                    </md-icon>
            </h4>
            <div class="main-title-border-left"></div>

            <div class="custom_page_configuration_section">
                <md-input-container style="width:100%">
                    <label>Właściciel konta bankowego</label>
                    <input ng-model="event.bank_name" name="accountname" type="text" maxlength="50" md-maxlength="50" minlength="2" md-minlength="2" required>
                </md-input-container>
                <div class="input-error-message error-md" ng-show="eventForm.$submitted || eventForm.accountname.$touched">
                    <div ng-show="eventForm.accountname.$error.required">To pole jest wymagane.</div>
                    <div ng-show="eventForm.accountname.$error.minlength">Nazwa właściciela musi zawierać minimum 2 znaki.</div>
                </div>

                <md-input-container style="width:100%">
                    <label>Numer konta bankowego w standardzie IBAN (28 znaków : PL i 26 znaów cyfr)</label>
                    <input ng-model="event.account_number" name="account" required type="text" maxlength="28" md-maxlength="28"
                           minlength="28" md-minlength="28" required>
                </md-input-container>
                <div class="input-error-message error-md" ng-show="eventForm.$submitted || eventForm.account.$touched">
                    <div ng-show="eventForm.account.$error.required">To pole jest wymagane.</div>
                    <div ng-show="eventForm.account.$error.minlength">Poprawne konto bankowe zawiera 28 znaków.</div>
                    <div ng-show="eventForm.account.$error.maxlength">Poprawne konto bankowe zawiera 28 znaków.</div>
                    <div ng-show="invalidIban">Niepoprawny numer rachunku bankowego (IBAN).</div>
                </div>

            </div>
        </div>
        <input ng-show="!eventSaveing" type="submit" ng-click="saveForm(eventForm.$valid)" value="Zapisz" class="btn-blue btn-blue-md submit own-input-form pull-right">
        <i ng-show="eventSaveing" class="fa fa-spinner fa-spin fa-2x save-spinner pull-right"></i>

    </form>
    <br><br><br><br>

</div>