<div>
    <section id="contact" class="animated fadeInUp">
        <div class="container">
            <notifications></notifications>
            <div class="col-md-6 contact-info section-title-caption">
                <h3>Dane kontaktowe</h3>
                <p class="text-justify">
                    Jeśli masz jakieś pytania, wątpliwości bądź uwagi, skontaktuj się znami używając zamieszczonego
                    obok formularza kontaktowego. Postaramy się odpowiedzieć w możliwie jak najkrótszym terminie.
                </p>
                <br />
                <div class="contact-address">
                    <ul>
                        <li><i class="fa fa-map-marker"></i> <strong>Adres:</strong> Poznań</li>
                        <li><i class="fa fa-phone"></i> <strong>Telefon:</strong>  507292251 lub 602443024</li>
                        <li><i class="fa fa-envelope-o"></i> <strong>Email:</strong> <a href="mailto:registreo@registreo.pl" target="_top">registreo@registreo.pl</a></li>
                        <li><i class="fa fa-globe"></i> <strong>Strona:</strong>  <a href="http://registreo.pl">http://registreo.pl</a></li>
                    </ul>
                </div>
                <!--
                <div class="find-us social">
                    <h4>Find Us On</h4>
                    <ul>
                        <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a target="_blank" href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
                -->
            </div>

            <div class="col-md-6 contact-form">
                <h3>Formularz kontaktowy</h3>
                <div ng-include="'app/contact/form.html'"></div>
            </div>
        </div>
    </section>

</div>