<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
        body {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            margin: 0 !important;
            width: 100% !important;
            -webkit-text-size-adjust: 100% !important;
            -ms-text-size-adjust: 100% !important;
            -webkit-font-smoothing: antialiased !important;
        }

        .tableContent img {
            border: 0 !important;
            display: block !important;
            outline: none !important;
        }

        a {
            color: #382F2E;
        }

        p, h1 {
            color: #382F2E;
            margin: 0;
        }

        div, p, ul, h1 {
            margin: 0;
        }

        p {
            font-size: 13px;
            color: #99A1A6;
            line-height: 19px;
        }

        h2, h1 {
            color: #444444;
            font-weight: normal;
            font-size: 22px;
            margin: 0;
        }

        a.link2 {
            padding: 15px;
            font-size: 13px;
            text-decoration: none;
            background: #2D94DF;
            color: #ffffff;
            border-radius: 6px;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
        }

        .bgBody {
            background: #f6f6f6;
        }

        .bgItem {
            background: #36c6f4;
        }


    </style>

    <script type="colorScheme" class="swatch active">
  {
    "name":"Default",
    "bgBody":"f6f6f6",
    "link":"ffffff",
    "color":"99A1A6",
    "bgItem":"36c6f4",
    "title":"444444"
  }


    </script>

</head>
<body paddingwidth="0" paddingheight="0" bgcolor="#d1d3d4"
      style="background-color: #d1d3d4; padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;"
      offset="0" toppadding="0" leftpadding="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center"
       style='background-color: #f6f6f6; font-family:Helvetica, Arial,serif;'>


    <div style="background-color:#d1d3d4;padding-top:0;padding-bottom:0;padding-top:0;padding-bottom:0;background-repeat:repeat;width:100%!important"
         bgcolor="#d1d3d4">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center"
               style="background-color:#f6f6f6;font-family:Helvetica,Arial,serif">


            <tbody>
            <tr>
                <td>
                    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" valign="top">
                        <tbody>
                        <tr>
                            <td>


                                <div>
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center"
                                           valign="top">
                                        <tbody>
                                        <tr>
                                            <td height="25" colspan="3"></td>
                                        </tr>

                                        <tr>
                                            <td valign="top" colspan="3">
                                                <table width="800" cellspacing="0" cellpadding="0" border="0"
                                                       align="center" valign="top">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="middle" align="left">
                                                            <div>
                                                                <div>
                                                                    <a href="https://registreo.pl">
                                                                        <img height="50px" width="140" alt="Registreo.pl"
                                                                             src="https://registreo.pl/assets/images/logo-email.png"
                                                                             class="CToWUd">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </td>


                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div>
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center"
                                           valign="top">
                                        <tbody>
                                        <tr>
                                            <td height="25"></td>
                                        </tr>

                                        <tr>
                                            <td height="auto" style="background-color:#36c6f4">
                                                <table width="800" cellspacing="0" cellpadding="0" border="0"
                                                       align="center" valign="top">
                                                    <tbody>
                                                    <tr>
                                                        <td width="100%" valign="top">
                                                            <table width="100%" cellspacing="0" cellpadding="0"
                                                                   border="0" align="center" valign="top">
                                                                <tbody>
                                                                <tr>
                                                                    <td height="10"></td>
                                                                </tr>

                                                                <tr>
                                                                    <td width="570" valign="top" colspan="2">
                                                                        <table width="100%" cellspacing="0"
                                                                               cellpadding="0" border="0" align="left"
                                                                               valign="top">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td valign="top" colspan="2">
                                                                                    <div>
                                                                                        <div>

                                                                                            <h1 style="text-align:center;font-size:32px;font-weight:bold;color:#ffffff;line-height:19px;margin:30px 0 10px 0">
                                                                                                Rejestracja uczestników
                                                                                                online
                                                                                            </h1>
                                                                                            <p style="text-align: center;font-size:15px;color:#cfeafa;line-height:19px;margin:10px 0">
                                                                                                "Zaoszczędź czas, usprawnij rejestrację, ułatw sobie pracę"
                                                                                            </p>

                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="50"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="460">
                                                                                    <div class="contentEditableContainer contentImageEditable">
                                                                                        <div class="contentEditable">
                                                                                            <img width="450" height="346" data-max-width="300" data-default="placeholder" alt="featured image" src="{{ email_hostname }}{{ asset('assets/images/emails/maraton1.jpg') }}">
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                                <td width="340" valign="top">
                                                                                    <table width="320" cellspacing="0" cellpadding="0" border="0" align="center" valign="top">
                                                                                        <tbody><tr><td height="30" colspan="3"></td></tr>

                                                                                        <tr>
                                                                                            <td width="10"></td>
                                                                                            <td width="320" valign="top">
                                                                                                <table width="320" cellspacing="0" cellpadding="0" border="0" align="center" valign="top">
                                                                                                    <tbody><tr>
                                                                                                        <td valign="top">
                                                                                                            <div class="contentEditableContainer contentTextEditable">
                                                                                                                <div class="contentEditable">
                                                                                                                    <ul style="list-style: square url('{{ email_hostname }}{{ asset('assets/images/emails/arrow1.png') }}');">
                                                                                                                        <li style="margin-bottom: 20px"><p style="font-size:18px;color:#ffffff;line-height:20px;">darmowy hosting strony wydarzenia</p></li>
                                                                                                                        <li style="margin-bottom: 20px"><p style="font-size:18px;color:#ffffff;line-height:20px;">personalizacja strony wydarzenia</p></li>
                                                                                                                        <li style="margin-bottom: 20px"><p style="font-size:18px;color:#ffffff;line-height:20px;">personalizacja formularza rejestracji</p></li>
                                                                                                                        <li style="margin-bottom: 20px"><p style="font-size:18px;color:#ffffff;line-height:20px;">lista uczestników</p></li>
                                                                                                                        <li style="margin-bottom: 20px"><p style="font-size:18px;color:#ffffff;line-height:20px;">bezpieczne płatności online</p></li>
                                                                                                                        <li style="margin-bottom: 20px"><p style="font-size:18px;color:#ffffff;line-height:20px;">minimalna prowizja</p></li>
                                                                                                                    </ul>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr><td height="18"></td></tr>
                                                                                                    <!-- <tr>
                                                                                                        <td valign="top">
                                                                                                            <div class="contentEditableContainer contentTextEditable">
                                                                                                                <div class="contentEditable">
                                                                                                                    <a target="_blank" href="https://registreo.pl/#/signup" style="display:inline-block;padding:15px;font-size:15px;text-decoration:none;background:#1c80c9;color:#e5f5ff;border-radius:6px;margin:20px 0">
                                                                                                                        Darmowa rejestracja
                                                                                                                    </a>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr><td height="33"></td></tr>
                                                                                                    <tr>
                                                                                                        <td>
                                                                                                            <div class="contentEditableContainer contentTextEditable">
                                                                                                                <div class="contentEditable">
                                                                                                                    <a style="padding:15px;font-size:13px;text-decoration:none;background:#1C80C9;color:#E5F5FF;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;" href="#" target="_blank">Learn more, noob</a>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </td>
                                                                                                    </tr>-->
                                                                                                    <tr><td height="15"></td></tr>
                                                                                                    </tbody></table>
                                                                                            </td>
                                                                                            <td width="10"></td>
                                                                                        </tr>
                                                                                        </tbody></table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="15"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top" colspan="2">
                                                                                    <div>
                                                                                        <div style="text-align: center;">

                                                                                            <a target="_blank" href="https://registreo.pl/#/signup" style="display:inline-block;padding:15px;font-size:15px;text-decoration:none;background:#1c80c9;color:#e5f5ff;border-radius:6px;margin:20px 0">
                                                                                                Zarejestruj konto Organizatora za darmo
                                                                                            </a>

                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                    <td width="10"></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td height="25"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td height="25"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="movableContent">
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" valign="top"><tbody><tr><td>
                                                <table width="800" cellspacing="0" cellpadding="0" border="0" align="center" valign="top">
                                                    <tbody>
                                                    <tr><td height="25" colspan="3"></td></tr>
                                                    <tr>
                                                        <td height="25" colspan="3">
                                                            <div class="contentEditableContainer contentTextEditable">
                                                                <div class="contentEditable">
                                                                    <h1 style="font-size:32px;text-align: left;">Wygodnie z Registreo.pl
                                                                    </h1>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr><td height="30" colspan="3"></td></tr>
                                                    <tr>
                                                        <td width="380">
                                                            <table width="340" cellspacing="0" cellpadding="0" border="0" align="center" valign="top">
                                                                <tbody><tr>
                                                                    <td align="center">
                                                                        <div class="contentEditableContainer contentTextEditable">
                                                                            <div class="contentEditable">
                                                                                <p style="text-align: justify; font-size: 14px; margin-bottom: 20px;">Registreo powstało by pomóc organizatorom, którzy nie posiadają własnej infrastruktury informatycznej. Dzięki nam nie musisz trwonić pieniędzy na obsługę firm informatycznych, utrzymanie hostingu i domeny.</p>
                                                                                <p style="text-align: justify; font-size: 14px; margin-bottom: 20px;">Registreo daje Ci gotowy, łatwy w użyciu produkt. Registreo ułatwia rejestrację uczestnikom, pozwala na szybkie dokonanie zapłaty, a Organizatorom wydarzenia dostarcza prostego i niezbędnego narzędzia do kontroli nad wydarzeniem.</p>
                                                                                <p style="text-align: justify; font-size: 14px;">Dzięki Registreo aktualizacja listy uczestników wraz z informacją o zapłacie jest natychmiastowa, co wyklucza problemy organizacyjne przy tego rodzaju wydarzeniach.</p>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td align="center">
                                                                    </td>
                                                                </tr>
                                                                <tr><td height="20"></td></tr>
                                                                </tbody></table>
                                                        </td>
                                                        <td width="50"><p></p></td>
                                                        <td width="370">
                                                            <div class="contentEditableContainer contentImageEditable">
                                                                <div class="contentEditable">
                                                                    <img style="margin-top: -40px;" width="400" data-max-width="400" data-default="placeholder" alt="featured image" src="{{ email_hostname }}{{ asset('assets/images/emails/email_desk.jpg') }}">
                                                                </div>
                                                            </div>
                                                        </td>

                                                    </tr>
                                                    <tr><td height="45" colspan="3"></td></tr>
                                                    </tbody></table>
                                            </td></tr></tbody></table>
                                </div>


                                <div>
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center"
                                           valign="top">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <table width="800" cellspacing="0" cellpadding="0" border="0"
                                                       align="center" valign="top">
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <table width="800" cellspacing="0" cellpadding="0"
                                                                   border="0" align="center" valign="top">

                                                                <tbody>
                                                                <tr>
                                                                    <td>


                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td>
                                                                        <table width="800" cellspacing="0"
                                                                               cellpadding="0" border="0"
                                                                               align="center">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td height="10">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="border-bottom:1px solid #dddddd"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="10">&nbsp;</td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td valign="top" align="center">
                                                                        <div>
                                                                            <div>
                                                                                <p style="font-weight:bold;font-size:13px;line-height:30px">
                                                                                    miroLabs, operator serwisu
                                                                                    Registreo.pl</p>
                                                                            </div>
                                                                        </div>
                                                                        <div>
                                                                            <div>
                                                                                <p style="color:#a8b0b6;font-size:13px;line-height:15px">
                                                                                    os. Jana III Sobieskiego 30/40,
                                                                                    60-688 Poznań </p>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>


                                                                <tr>
                                                                    <td height="28">&nbsp;</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>


                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>


            </tbody>
        </table>
        <div class="yj6qo"></div>
        <div class="adL">


        </div>
    </div>

</body>
</html>