    {% block subject %} Potwierdź założone konto {% endblock %}

    {% extends ":Email:base.html.twig" %}
    {% block blueBody %}

        {{ email.h1('Założono nowe konto w registreo.pl') }}
        {{ email.p('Twoje konto zostało utworzone, jednak jest jeszcze nieaktywne.
        Aby się zalogować do systemu kliknij poniższy link i aktywuj swoje konto') }}
        {{ email.blueButton('Aktywuj konto', confirmationUrl) }}

    {% endblock %}

    {% block middle %}{% endblock %}
