{% extends ":Email:base.html.twig" %}

{% block blueBody %}

    {{ email.h1('Przywracanie hasła') }}
    {{ email.p('Aby przywrócić swoje hasło kliknij w przycisk poniżej.') }}
    {{ email.blueButton('Przywróć hasło', shortcutUrl) }}

{% endblock %}

{% block middle %}{% endblock %}
