<html>
<head>

</head>
<body>
    <h1>Zapytanie z formularza kontaktowego</h1>
    <p>
        Od : {{ clientName }} ({{ clientEmail }})
    </p>
    <p>
        Temat : {{ title }}
    </p>
    <p>
        Wiadomość: {{ body }}
    </p>
</body>
</html>