{% block subject %}{% endblock %}

{% extends ":Email:base.html.twig" %}
{% block blueBody %} {# blue background #}

    {{ email.h1('Zapytanie o wydarzenie: '~eventName) }}
    {{ email.p('Od: '~clientName~' ('~clientEmail~')') }}

{% endblock %}

{% block body %} {# no background #}
    {{ email.h4('Temat: '~title) }}
    {{ email.p( body, true ) }}
{%  endblock %}

{% block middle %}{% endblock %}