{% block subject %}{% endblock %}

{% extends ":Email:base.html.twig" %}
{% block blueBody %} {# blue background #}

    {{ email.h1(title) }}

{% endblock %}

{% block body %} {# no background #}
    {{ email.h4('Witaj '~participantName) }}
    {{ email.p( 'Chciałbym zaprosic Ciebie na udział w wydarzeniu "'~eventName~'.', true) }}
    {{ email.link(eventLink, 'link', 'Jeżeli jesteś zainteresowany to kliknij w poniższy ', true ) }}
{%  endblock %}

{% block middle %}{% endblock %}