{% block subject %}{% endblock %}

{% extends ":Email:base.html.twig" %}
{% block blueBody %} {# blue background #}

    {{ email.h1(title) }}

{% endblock %}

{% block body %} {# no background #}
    {{ email.h4('Witaj '~participantName) }}
    {{ email.p( 'Opłata za udział w wydarzeniu "'~eventName~'" została anulowana.', true) }}
    {{ email.p( 'Aby dokonać ponownie płatności, kliknij w poniższy link :', true ) }}
    {{ email.p( paymentLink ) }}
{%  endblock %}

{% block middle %}{% endblock %}