<footer ng-controller="footerCtrl" >
    <div class="container">
        <div class="col-md-3">
            <h3>Załączniki</h3>
            <ul>
                <li><a target="_blank" href="/assets/docs/user-regulation.pdf">Regulamin</a></li>
                <li><a  target="_blank" href="{{ asset('assets/docs/private-policy.pdf') }}">Polityka prywatności</a></li>
                <li><a  target="_blank" href="{{ asset('assets/docs/cookie-policy.pdf') }}">Polityka plików cookie</a></li>
            </ul>
        </div>
        <div class="col-md-3 address">
            <h3>Adres</h3>
            <p><i class="fa fa-map-marker"></i>&nbsp;&nbsp; Poznań</p>
            <p><i class="fa fa-phone"></i>&nbsp;&nbsp; 507292251 lub 602443024 <br /> <i class="fa fa-envelope-o"></i>&nbsp;&nbsp; registreo@registreo.pl</p>
        </div>
        <div class="col-md-3 tags">
            <h3>Tagi</h3>
            <ul>
                <li><a href="https://registreo.pl/#/signup">Rejestracja</a></li>
                <li><a href="https://registreo.pl/#/about">Formularze</a></li>
                <li><a href="https://registreo.pl/#/contact">Personalizacja</a></li>
                <li><a href="https://registreo.pl/#/pricing">Płatności</a></li>
                <li><a href="https://registreo.pl/#/events">Wydarzenia</a></li>
            </ul>
        </div>
        <!--
        <div class="col-md-3 social">
            <h3>Social</h3>
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>
        </div>
        -->
        <div class="col-md-3 social">
            <h3>Płatności</h3>
            <img class="footer-payment" src="{{ asset('assets/images/dotpay_logo.png') }}" width="250px" />
        </div>
    </div>
    <div class="copy-right text-center">
        <p>&copy; 2016 Registreo</p>
    </div>
</footer>
<div id="back-top"><a href="#top"><i class="fa fa-chevron-up"></i></a></div>