<header ng-controller="HeaderCtrl" id="sticky_navigation" class="menu_header">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <div class="logo">
                    <a class="pull-left" href="/" ng-click="home()">
                        <img height="60px" src="{{ asset('assets/images/logo-registreo.png') }}" alt="Registreo"/>
                    </a>

                    <div class="navbar-header pull-right">
                        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar"
                                data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                            <i class="fa fa-bars"></i>
                        </button>
                        <!--
                        <div class="hidden-lg hidden-md hidden-sm pull-right top-search">
                            <a href="javascript:void(0)" class="search-header">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                        -->
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-xs-12">
                <nav class="navbar navbar-default menu pull-right">
                    <div class="navbar-collapse collapse" id="navbar">
                        <ul class="nav navbar-nav">
                            <li class="{% verbatim %} {{ isActive('') }} {% endverbatim %}">
                                <a href="javascript:void(0)" ng-click="home()">Start</a>
                            </li>
                            <li class="{% verbatim %} {{ isActive('about') }} {% endverbatim %}">
                                <a href="javascript:void(0)" ng-click="aboutUs()">O nas</a>
                            </li>
                            <li class="{% verbatim %} {{ isActive('pricing') }} {% endverbatim %}">
                                <a href="javascript:void(0)" ng-click="pricing()">Cennik</a>
                            </li>

                            <li class="{%  verbatim %} {{ isActive('events') }} {% endverbatim %}">
                                <a href="javascript:void(0)" ng-click="eventsList()">Wydarzenia</a>
                            </li>

                            <li class="{% verbatim %} {{ isActive('contact') }} {% endverbatim %}">
                                <a href="javascript:void(0)" ng-click="contact()">Kontakt</a>
                            </li>

                            <li class="{% verbatim %} {{ isActive('myaccount') }} {% endverbatim %}" ng-if="loggedUser">
                                <a href="javascript:void(0)" ng-click="myaccount()">Moje konto</a>
                            </li>
                            <li class="{% verbatim %} {{ isActive('login') }} {% endverbatim %}" ng-if="loggedUser">
                                <a href="{{ path('fos_user_security_logout') }}" ng-click="signOut()">Wyloguj
                                    się</a>
                            </li>

                            <li class="{% verbatim %} {{ isActive('login') }} {% endverbatim %}" ng-if="!loggedUser">
                                <a href="javascript:void(0)" ng-click="signIn()">Zaloguj się</a>
                            </li>

                            <!-- admin links -->
                            <!--
                            <li class="hidden-xs"><a href="javascript:void(0)" class="search-header"><i class="fa fa-search"></i></a></li>
                            -->
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </nav>

            </div>
        </div>
    </div>
</header>
<!-- breadcrumb-->
<div id="breadcrumb-wrapper" class="ng-hide" ng-show="breadcrumbVisible" ng-controller="BreadcrumbCtrl">
    <div class="container">
        <div class="pull-left breadcrumb-title">
            <h2 ng-bind="breadcrumb.title"></h2>
        </div>
        <div class="pull-right breadcrumb">
            <ul>
                <li><i class="fa fa-home"></i><a href="javascript:void(0)" ng-click="openHomePage()">Start</a></li>
                <li ng-repeat="link in breadcrumb.links" ng-class="{active: $last}">
                    <a href="javascript:void(0)" ng-click="openPage(link.uri)" ng-bind="link.name"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

