<!DOCTYPE HTML>
<html lang="pl" ng-app="registreoApp" class="no-js">
<head>
    <meta charset="UTF-8">
    <title>Registreo - spersonalizowane formularze rejestracyjne</title>
    <meta name="description" content="Registreo - spersonalizuj swój formularz zgłoszeniowy do potrzeb dowolonego wydarzenia i korzystaj z osbsługi płatności">
    <meta name="keywords" content="Registreo, Personifikacja, Kastomizacja, Event, Zdarzenie, Wydarzenie, Formularze, Własna strona, Płatności, Przelewy">
    <meta name="author" content="ITWINS, MIROLABS">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"  href="{{ asset('assets/images/Registreo.png') }}?v=2">
    <link rel="stylesheet" href="{{ asset('assets/css/registreo.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/style.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bower_components/angular-material/angular-material.css') }}">
    <link rel="stylesheet" href="{{ asset('bower_components/mdPickers/dist/mdPickers.min.css') }}"/>
    {% if app.environment == 'prod' %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-90558682-1', 'auto');
            ga('send', 'pageview');
        </script>
    {% endif %}
</head>
<body>
    <div id="preloader"></div>
    {{ include ('AppBundle:Layout:header.html.twig') }}

    <b ng-init="ngview.show = false" ng-show="!ngview.show" >
        {% block content %}
        {% endblock %}
    </b>
    <div ui-view ng-show="ngview.show" class="contentView"></div>

    {{ include ('AppBundle:Layout:footer.html.twig') }}

    {% if app.environment == 'prod' %}
    <script src="/deploy/admin/scripts/external.js"></script>
    {% else %}    
    <!-- build:js(.) /admin/scripts/external.js -->
    <!-- this is all scripts from bower  -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/bower_components/restangular/dist/restangular.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/angular-ui-router.stateHelper/statehelper.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/spin.js/spin.js"></script>
    <script src="/bower_components/angular-file-upload/dist/angular-file-upload.js"></script>
    <script src="/bower_components/angular-spinner/angular-spinner.js"></script>
    <script src="/bower_components/angular-ui-sortable/sortable.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/angular-i18n/angular-locale_pl-pl.js"></script>
    <script src="/bower_components/mdPickers/dist/mdPickers.min.js"></script>
    <script src="/bower_components/tinymce/tinymce.min.js"></script>
    <script src="/bower_components/angular-ui-tinymce/dist/tinymce.min.js"></script>
    <script src="/bower_components/angular-recaptcha/release/angular-recaptcha.js"></script>
    <script src="/bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <script src="/bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="/bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>

    <!-- this is all scripts from  other libraries  -->
    <script src="/assets/js/owl/owl.carousel.js"></script>
    <script src="/assets/js/jquery.nicescroll.min.js"></script>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/animated.js"></script>
    <script src="/assets/js/morphext.js"></script>
    <script src="/assets/js/particles.js"></script>
    <!-- endbuild -->
    {% endif %}

    {% if app.environment == 'prod' %}
    <script src="/deploy/admin/scripts/application.js"></script>
    {% else %}    
    <!-- build:js(.) /admin/scripts/application.js -->

    <!-- this is our scripts  in order services, controllers, directives -->
    <script src="/app/app.js"></script>

    <!--own services-->
    <script src="/app/notifications/notifications-service.js"></script>
    <script src="/app/notifications/notifications.js"></script>
    <script src="/app/notifications/notifications-controller.js"></script>
    <script src="/app/breadcrumb/js/service/BreadcrumbService.js"></script>
    <script src="/app/mailer-service/mailer-service.js"></script>
    <script src="/app/event/js/services/eventService.js"></script>
    <script src="/app/event/js/services/PaginService.js"></script>
    <script src="/app/event/js/services/CustomPageService.js"></script>
    <script src="/app/event/js/services/TransactionService.js"></script>
    <script src="/app/user/js/services/userService.js"></script>
    <script src="/app/event/js/directives/RegMapEdit.js"></script>

    <!--own controllers-->
    <script src="/app/breadcrumb/js/controller/BreadcrumbCtrl.js"></script>
    <script src="/bundles/app/js/controller/HeaderCtrl.js"></script>
    <script src="/bundles/app/js/controller/FooterCtrl.js"></script>
    <script src="/bundles/app/js/controller/CookieCtrl.js"></script>
    <script src="/app/user/js/controllers/AuthorizationCtrl.js"></script>
    <script src="/app/user/js/controllers/AccountActivationCtrl.js"></script>
    <script src="/app/user/js/controllers/NewAccountCtrl.js"></script>
    <script src="/app/user/js/controllers/RememberPasswordCtrl.js"></script>
    <script src="/app/user/js/controllers/ResetPasswordCtrl.js"></script>
    <script src="/app/user/js/controllers/SignUpCtrl.js"></script>
    <script src="/app/event/js/controllers/EventListCtrl.js"></script>
    <script src="/app/event/js/controllers/ParticipantsCtrl.js"></script>
    <script src="/app/event/js/controllers/EventEditCtrl.js"></script>
    <script src="/app/event/js/controllers/EventCustomPageCtrl.js"></script>
    <script src="/app/event/js/controllers/EventCustomFormCtrl.js"></script>
    <script src="/app/event/js/controllers/EventAddCtrl.js"></script>
    <script src="/app/event/js/controllers/AddPageItemCtrl.js"></script>
    <script src="/app/event/js/controllers/EditPageItemCtrl.js"></script>
    <script src="/app/event/js/controllers/EventTransactionCtrl.js"></script>
    <script src="/app/event/js/controllers/EditSectionCtrl.js"></script>
    <script src="/app/event/js/tabs/ManageEventTabs.js"></script>
    <script src="/app/about/about-controller.js"></script>
    <script src="/app/about/about.js"></script>
    <script src="/app/pricing/pricing-controller.js"></script>
    <script src="/app/pricing/pricing.js"></script>
    <script src="/app/events-list/events-list-controller.js"></script>
    <script src="/app/events-list/events-list.js"></script>
    <script src="/app/contact/contact-controller.js"></script>
    <script src="/app/contact/contact.js"></script>
    <script src="/app/home/home-controller.js"></script>
    <script src="/app/home/home.js"></script>
    <!-- endbuild -->
    {% endif %}

    <!-- routing -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcyYBnlEFOswqxn5xZ795-nZoheIw-QuQ"></script>
    
    <div ng-controller="CookieCtrl">
        <div class="cookie-policy" ng-if="readPolicy">
            <p class="cookie-info">
                &nbsp; Serwis Registreo.pl wykorzystuje do swojego działania pliki cookies. Korzystanie z serwisu oznacza, że zgadzasz się na ich zapis lub wykorzystanie. Więcej informacji w
                <a target="_blank" href="{{ asset('assets/docs/cookie-policy.pdf') }}">Polityce cookies</a>.
                <a href="javascript:void(0)" class="cookie-close-info" ng-click="closeCookieInfo()"> Zamknij okno </a>
            </p>
        </div>
    </div>
</body>
</html>
