{% block subject %}{% endblock %}
{% block body_html %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
        body {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            margin: 0 !important;
            width: 100% !important;
            -webkit-text-size-adjust: 100% !important;
            -ms-text-size-adjust: 100% !important;
            -webkit-font-smoothing: antialiased !important;
        }

        .tableContent img {
            border: 0 !important;
            display: block !important;
            outline: none !important;
        }

        a {
            color: #382F2E;
        }

        p, h1 {
            color: #382F2E;
            margin: 0;
        }

        div, p, ul, h1 {
            margin: 0;
        }

        p {
            font-size: 13px;
            color: #99A1A6;
            line-height: 19px;
        }

        h2, h1 {
            color: #444444;
            font-weight: normal;
            font-size: 22px;
            margin: 0;
        }

        a.link2 {
            padding: 15px;
            font-size: 13px;
            text-decoration: none;
            background: #2D94DF;
            color: #ffffff;
            border-radius: 6px;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
        }

        .bgBody {
            background: #f6f6f6;
        }

        .bgItem {
            background: #36c6f4;
        }


    </style>

    <script type="colorScheme" class="swatch active">
  {
    "name":"Default",
    "bgBody":"f6f6f6",
    "link":"ffffff",
    "color":"99A1A6",
    "bgItem":"36c6f4",
    "title":"444444"
  }

    </script>

</head>
<body paddingwidth="0" paddingheight="0" bgcolor="#d1d3d4"
      style="background-color: #d1d3d4; padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;"
      offset="0" toppadding="0" leftpadding="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center"
       style='background-color: #f6f6f6; font-family:Helvetica, Arial,serif;'>

    <!-- =============================== Header ====================================== -->

    <tr>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                <tr>
                    <td class='movableContentContainer'>


                        <div class='movableContent'>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                <tr>
                                    <td height='25' colspan='3'></td>
                                </tr>

                                <tr>
                                    <td valign='top' colspan='3'>
                                        <table width="600" border="0" cellspacing="0" cellpadding="0" align="center"
                                               valign='top'>
                                            <tr>
                                                <td align='left' valign='middle'>
                                                    <div class="contentEditableContainer contentImageEditable">
                                                        <div class="contentEditable">
                                                            <img height="50px" src="{{ email_hostname }}{{ asset('assets/images/logo-email.png') }}" alt='Registreo.pl'
                                                                 data-default="placeholder" data-max-width="300"
                                                                 width='140' height='50'>
                                                        </div>
                                                    </div>
                                                </td>

                                                {# extra shortcut link at the top #}
                                                {% if shortcutUrl is defined %}
                                                <td align='right' valign='top'>
                                                    <div class="contentEditableContainer contentTextEditable"
                                                         style='display:inline-block;'>
                                                        <div class="contentEditable">
                                                            <a target='_blank' href="{{ shortcutUrl }}"
                                                               style='color:#A8B0B6;font-size:13px;text-decoration:none;'>Przejdź do aplikacji </a>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td width='18' align='right' valign='top'>
                                                    <div class="contentEditableContainer contentImageEditable"
                                                         style='display:inline-block;'>
                                                        <div class="contentEditable">
                                                            <a target='_blank' href="{{ shortcutUrl }}"><img
                                                                        src="{{ email_hostname }}{{ asset('assets/images/openBrowser.png') }}"
                                                                        alt='open in browser image'
                                                                        data-default="placeholder" width='15' height='15'
                                                                        style='padding-left:10px;'></a>
                                                        </div>
                                                    </div>
                                                </td>
                                                {% endif %}

                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class='movableContent'>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                <tr>
                                    <td height='25'></td>
                                </tr>

                                <tr>
                                    <td height='auto' class='bgItem' style="background-color: #36c6f4;">
                                        <table width="600" border="0" cellspacing="0" cellpadding="0" align="center"
                                               valign='top'>
                                            <tr>
                                                <td width='100%' valign='top'>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                                           align="center" valign='top'>
                                                        <tr>
                                                            <td colspan='3' height='10'></td>
                                                        </tr>

                                                        <tr>
                                                            <td width='570' valign='top'>
                                                                <table width="100%" border="0" cellspacing="0"
                                                                       cellpadding="0" align="left" valign='top'>
                                                                    <tr>
                                                                        <td valign='top'>
                                                                            <div class="contentEditableContainer contentTextEditable">
                                                                                <div class="contentEditable">
                                                                                    {% block body_text %}
                                                                                        {% block blueBody %}{% endblock %}
                                                                                    {% endblock %}
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td height='15'></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td width='10'></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td height='25'></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td height='25'></td>
                                </tr>
                            </table>
                        </div>


                        <div class='movableContent'>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                <tr>
                                    <td>
                                        <table width="600" border="0" cellspacing="0" cellpadding="0" align="center"
                                               valign='top'>
                                            <tr>
                                                <td>
                                                    <table width="600" border="0" cellspacing="0" cellpadding="0"
                                                           align="center" valign='top'>

                                                        <tr>
                                                            <td>

                                                                {% block body %}{% endblock %}

                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <table width="600" border="0" cellspacing="0"
                                                                       cellpadding="0" align="center">
                                                                    <tr>
                                                                        <td height='10'>&nbsp;</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style='border-bottom:1px solid #DDDDDD'></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td height='10'>&nbsp;</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td valign='top' align='center'>
                                                                <div class="contentEditableContainer contentTextEditable">
                                                                    <div class="contentEditable">
                                                                        <p style=' font-weight:bold;font-size:13px;line-height: 30px;'>
                                                                            miroLabs, operator serwisu
                                                                            Registreo.pl</p>
                                                                    </div>
                                                                </div>
                                                                <div class="contentEditableContainer contentTextEditable">
                                                                    <div class="contentEditable">
                                                                        <p style='color:#A8B0B6; font-size:13px;line-height: 15px;'>
                                                                            os. Jana III Sobieskiego 30/40, 60-688 Poznań </p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td height='28'>&nbsp;</td>
                                                        </tr>

                                                        <tr>
                                                            <td valign='top' align='center'>
                                                                <div class="contentEditableContainer contentTextEditable">
                                                                    <div class="contentEditable">
                                                                        <p style='font-weight:normal;font-size:11px;line-height: 20px;'>
                                                                            Ta wiadomość i jakiekolwiek pliki przesłane
                                                                            wraz z nią, są poufne i przeznaczone
                                                                            wyłącznie do użytku osób i jednostek, do
                                                                            których wiadomość została adresowana. Jeśli
                                                                            wiadomość została otrzymana pomyłkowo,
                                                                            prosimy zawiadomić pomoc techniczną
                                                                            serwisu.</p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td height='28'>&nbsp;</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>


                    </td>
                </tr>
            </table>
        </td>
    </tr>


</table>


</body>
</html>
{% endblock %}