<h2 class="text-center section-title">Tabela opłat</h2>
<div class="main-title-border-center m-b"></div>
<div class="container" style="font-weight: normal;">
    <div class="row m-b">
        <div class="col-md-offset-3 col-md-6">
            <ul class="features section-title-caption text-left">
                <li><i class="fa fa-check"></i> darmowa rejestracja i prowadzenie konta</li>
                <li><i class="fa fa-check"></i> niskie prowizje naliczane od pojedynczych transakcji</li>
                <li><i class="fa fa-check"></i> opłaty maleją wraz z ilością uczestników</li>
            </ul>
        </div>
    </div>

    <div class="row m-b">
        <div class="col-md-offset-1 col-md-10">
            <div class="col-md-4 text-center margin-bottom">
                <div class="pricing-item">
                    <div class="pricing-top yellowBg">
                        <div class="plan-title">
                            <h2>spotkanie</h2>
                            <i class="fa fa-user"></i><i class="fa fa-user"></i>
                        </div>
                        <div class="currency">
                            <p class="">poniżej 100 osób</p>
                        </div>
                    </div>
                    <div class="pricing-details">
                        <ul>
                            <li><strong>1,2% </strong> prowizji</li>
                            <li>+2,35% prowizji dla systemu płatności</li>
                            <li><strong>z rabatem 10% *</strong></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-center margin-bottom">
                <div class="pricing-item">
                    <div class="pricing-top greenBg">
                        <div class="plan-title">
                            <h2>impreza</h2>
                            <i class="fa fa-user"></i><i class="fa fa-user"></i><i class="fa fa-user"></i>
                        </div>
                        <div class="currency">
                            <p class="">100 - 500 osób</p>
                        </div>
                    </div>
                    <div class="pricing-details">
                        <ul>
                            <li><strong>1% </strong> prowizji</li>
                            <li>+2,35% prowizji dla systemu płatności</li>
                            <li><strong>z rabatem 10% *</strong></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-center margin-bottom">
                <div class="pricing-item">
                    <div class="pricing-top">
                        <div class="plan-title">
                            <h2>festiwal</h2>
                            <i class="fa fa-users"></i><i class="fa fa-users"></i>
                        </div>
                        <div class="currency">
                            <p class="">powyżej 500 osób</p>
                        </div>
                    </div>
                    <div class="pricing-details">
                        <ul>
                            <li><strong>0,8% </strong> prowizji</li>
                            <li>+2,35% prowizji dla systemu płatności</li>
                            <li><strong>z rabatem 10% *</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ul>
        <li>* rabat 10% na wydarzenie otrzymują użytkownicy, którzy wcześniej zorganizowali wydarzenia w Registreo.pl na
            łączną ilość ponad 1000 zarejestrowanych uczestników. <br/>
            Rabat dotyczy tylko prowizji pobieranej przez serwis Registreo.pl
        </li>
    </ul>
</div>
