<div ng-controller="AboutController">
    <section id="about-us" class="animated fadeInUp">
        <div class="container">
            <div class="col-md-6 our-mission">
                <h2 class="section-title">Nasza misja</h2>
                <div class="main-title-border-left"></div>
                <p class="text-justify" ng-include="'app/about/mission1.html'"></p>
                <p class="text-justify" ng-include="'app/about/mission2.html'"></p>
                <div class="row" ng-include="'app/about/strongPoints.html'"></div>
            </div>
            <div class="col-md-6 popular-questions">
                <h2 class="section-title">Często zadawane pytania</h2>
                <div class="main-title-border-left"></div>
                <div class="panel-group" id="accordion">
                    <uib-accordion class="accordion" close-others="oneAtATime">
                        <uib-accordion-group ng-repeat="group in groups" is-open="status.isOpen[$index]" >
                            <uib-accordion-heading class="panel-title">
                                <i class="fa fa-chevron-circle-right" ng-class="{'fa-chevron-circle-down': status.isOpen[$index], 'fa-chevron-circle-right': !status.isOpen[$index]}"></i>
                                {{group.title}}
                            </uib-accordion-heading>
                            <div class="panel-collapse collapse in text-justify" ng-include="group.templateUrl"></div>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
            </div>
        </div>
    </section>
</div>