<p class="section-title-caption" style="font-weight: normal;">
    Jak to działa? Registreo za opłatą zgodną z cennikiem dostarcza organizatorom gotowy produkt.
    Ten produkt to: własna strona informacyjna (Organizator decyduje jakie informacje na niej umieści),
    formularz rejestracyjny (spersonalizowany dowolnie do rodzaju wydarzenia) z modułem płatności elektronicznych
    oraz listę zgłoszeniową (z bieżącą aktualizacją statusu uczestnika). Jako organizator rejestrujesz się w Registreo
    bezpłatnie, otrzymujesz dostęp do swojego panelu zarządzania w którym definiujesz rodzaj wydarzenia oraz
    konto bankowe na które będą wpływać środki od uczestników wydarzenia.
    Registreo daje Ci do wyboru cztery pakiety zależne od ilości uczestników, sprawdź <a ui-sref="pricing">cennik</a>.
</p>