<div class="col-md-6">
    <ul>
        <li><i class="fa fa-check-circle-o"></i> Personalizacja formularza</li>
        <li><i class="fa fa-check-circle-o"></i> Własna strona informacyjna</li>
        <li><i class="fa fa-check-circle-o"></i> Bezpieczne płatności</li>
    </ul>
</div>
<div class="col-md-6">
    <ul>
        <li><i class="fa fa-check-circle-o"></i> Nie wymaga konta płatności</li>
        <li><i class="fa fa-check-circle-o"></i> Bieżący widok listy zgłoszeniowej</li>
        <li><i class="fa fa-check-circle-o"></i> Przyjazny interfejs </li>
    </ul>
</div>