<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center" style="margin-top: 100px;">

            <h3 class="section-title margin-top-20">
                Lista uczestników
            </h3>
            <div class="main-title-border-center"></div>

            <div style="height: 300px;" ng-show="loadParticipants">
                <span us-spinner></span>
            </div>


            <div ng-show="!loadParticipants && !totalResult">
                <div class="alert alert-info alert-dismissible">
                    <div class="pull-left">
                        <div class="ng-binding">
                            Brak zarejestrowanych uczestników.
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <table class="table table-striped" ng-show="totalResult">
                <thead>
                <tr>
                    <th><strong>#</strong></th>
                    <th class="text-center"><strong>Imię</strong></th>
                    <th class="text-center"><strong>Nazwisko</strong></th>
                    <th class="text-center"><strong>Dodano</strong></th>
                    <th class="text-center" ng-if="!freeAccount"><strong>Status płatności</strong></th>
                    <th class="text-center" ng-if="freeAccount"><strong>Status rejestracji</strong></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="participant in participants">
                    <th scope="row">{{ $index + 1 + ((page-1) * limit)}}</th>
                    <td>{{ participant.name }}</td>
                    <td>{{ participant.surname }}</td>
                    <td>{{ participant.added | date:'dd-MM-yyyy' }}</td>
                    <td align="center">
                        <div class="img-rounded text-center payments_status"
                             ng-class="{'payments_status_not_payed': participant.payment_status != 3 && participant.payment_status != 10, 'payments_status_payed': participant.payment_status == 3 || participant.payment_status == 10 }">
                            <span  ng-bind="participant.statusName"></span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class=" text-center">
                <ng-include src="'../../app/event/views/pagination.html'"  />
            </div>
        </div>
    </div>
</div>