<div class="container" style="padding-top: 15px">
    <div class="col-md-12">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="margin-top:80px;margin-bottom:300px;">

            <h3 class="section-title margin-top-20  text-center">
                Informacje o właścicielu wydarzenia.
            </h3>
            <div class="main-title-border-center"></div>
            <br>
            <div style="margin-left:60px;">
                <address ng-if="ownerData.isCompany">
                    <strong>Dane firmy <br></strong>
                    {{ ownerData.companyName }} <br>
                    <span ng-if="ownerData.address">Adres: {{ ownerData.address }}</span><br>
                    NIP: {{ ownerData.nip }}
                </address>

                <address ng-if="!ownerData.isCompany">
                    <strong>Osoba prywatna</strong>
                </address>

                <address ng-if="ownerData.email || ownerData.telephone || ownerData.address">
                    <strong>Dane kontaktowe</strong><br>
                    <span ng-if="ownerData.address && !ownerData.isCompany">
                        Adres organizatora: {{ ownerData.address }}<br>
                    </span>
                    <span ng-if="ownerData.email">
                        Email : <a href="mailto:{{ ownerData.email }}">{{ ownerData.email }}</a>
                        <br>
                    </span>
                    <span ng-if="ownerData.telephone">
                        <abbr title="Phone">Telefon:</abbr> {{ ownerData.telephone }}
                    </span>
                </address>
            </div>

        </div>
        <div class="col-md-3"></div>
    </div>
</div>