<div class="container" style="padding-top: 15px">
    <div class="col-md-12 text-center">
        <div class="col-md-8 col-md-offset-2 custom-form-body-active ng-scope">
            <h3 class="section-title margin-top-20">
                Potwierdzenie rejestracji
            </h3>
            <div class="main-title-border-center"></div>

            <div ng-show="paymentLoading" style="margin-top: 300px;">
                <span us-spinner></span>
            </div>

            <div style="margin-top:50px;margin-bottom:400px;" ng-show="!paymentLoading">
                
                <div class="row section-title-caption">
                    <div class="col-md-offset-4 col-md-2 text-right">Imię:</div>
                    <div class="col-md-6 text-left">
                        <strong ng-bind="participant.name"></strong>
                    </div>
                </div>
                
                <div class="row section-title-caption">
                    <div class="col-md-offset-4 col-md-2 text-right">Nazwisko:</div>
                    <div class="col-md-6 text-left">
                        <strong ng-bind="participant.surname"></strong>
                    </div>
                </div>

                <div class="row section-title-caption" ng-show="params.amount > 0">
                    <div class="col-md-offset-4 col-md-2 text-right">Opłata</div>
                    <div class="col-md-6 text-left">
                        <strong><span ng-bind="params.amount"></span>zł</strong>
                    </div>
                </div>
                
                <form  action="/" id="payment_form" method="POST" ng-show="params.amount > 0">
                    <input ng-show="params.amount > 0" ng-repeat="(name, value) in params" type="hidden" name="{{name}}" value="{{value}}" />
                    <input ng-show="params.amount > 0" type="submit" class="btn-blue btn-blue-md submit" value="Zapłać">
                </form>
                
            </div>

        </div>
    </div>
</div>