<div class="container" style="padding-top: 15px">
    <div class="col-md-12 text-center">

        <div class="col-md-8 col-md-offset-2" style="margin-top:120px;margin-bottom:300px;" ng-show="paymentStatus">

            <h3 class="section-title margin-top-20">
                Płatność została zrealizowana
            </h3>
            <div class="main-title-border-center"></div>
            <p class="section-title-caption">
                Twój udział w wydarzeniu został opłacony.  Dziękujemy za dokonanie płatności. <br>
                <a href="#">Wróć na stronę główną.</a>
            </p>
        </div>

        <div class="col-md-8 col-md-offset-2" style="margin-top:120px;margin-bottom:300px;" ng-show="!paymentStatus">

            <h3 ng-show="!paymentStatus" class="section-title margin-top-20">
                Płatność została odrzucona
            </h3>
            <div class="main-title-border-center"></div>
            <p class="section-title-caption">
                Twoja płatność się nie powiodła. Na twój adres email została wysłana wiadomość, która
                zawiera link do dokonania ponownej płatności. <a href="#">Wróć na stronę główną.</a>
            </p>
        </div>

    </div>
</div>