<div class="container" style="padding-top: 15px">
    <div class="col-md-12 text-center">

        <div class="col-md-8 col-md-offset-2" style="margin-top:120px;margin-bottom:300px;">
            <h3 class="section-title margin-top-20">
                Status zgłoszenia
            </h3>
            <div class="main-title-border-center"></div>
            <p class="section-title-caption">
                Twoje zgłoszenie zostało przyjęte.  Dziękujemy za przystąpienie do wydarzenia. <br>
                <a href="#">Wróć na stronę główną.</a>
            </p>
        </div>

    </div>
</div>