<div class="container" style="padding-top: 15px">
    <div class="col-md-12 text-center">

        <div class="col-md-8 col-md-offset-2 custom-form-body-inactive" ng-if="!form.active || registrationFinished">
            Formularz nie jest aktywny.
        </div>

        <div class="col-md-8 col-md-offset-2 custom-form-body-active" ng-if="form.active && !registrationFinished" style="margin-top: 30px;">

            <div>
                <div class="alert alert-info" style="background:white;">
                    <div class="pull-left">
                        <div class="ng-binding">
                            Rejestracja będzie aktywna do dnia : {{ endRegistration }}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <h3 class="section-title margin-top-20">
                Zarejestruj się
            </h3>
            <div class="main-title-border-center"></div>

            <div ng-show="participant">
                <p style="font-size: 20px">{{participant.name}} {{participant.surname}}</p>
                <p style="font-size: 18px">{{participant.email}}</p>
            </div>
            
            <form name="eventForm" novalidate>

                <div ng-repeat="field in form.fields | orderBy:'order'">
                    <div class="row">
                        <div class="col-md-11" ng-if="field.type == 1">
                            <md-input-container style="width: 100%">
                                <label>{{ field.label }}</label>
                                <input ng-if="field.label != 'Email'" ng-model="field.value" name="name_{{ $index }}" type="text" maxlength="50" md-maxlength="50" required>
                                <input ng-if="field.label == 'Email'" ng-model="field.value" name="name_{{ $index }}" type="text" maxlength="50" md-maxlength="50"
                                       ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/" required>

                            </md-input-container>
                            <div class="input-error-message error-md" ng-show="eventForm.$submitted || eventForm.name_{{$index}}.$touched">
                                <div ng-show="eventForm.name_{{$index}}.$error.required">To pole jest wymagane.</div>
                                <div ng-if="field.label == 'Email'" ng-show="eventForm.name_{{$index}}.$error.pattern">Nieprawidłowy adres email.</div>
                            </div>
                        </div>

                        <div class="col-md-11" ng-if="field.type == 2">
                            <md-input-container style="width: 100%">
                                <label>{{ field.label }}</label>
                                <textarea ng-model="field.value" name="name_{{ $index }}" type="text" maxlength="400" md-maxlength="400" required ></textarea>
                            </md-input-container>
                            <div class="input-error-message error-md" ng-show="eventForm.$submitted || eventForm.name_{{$index}}.$touched">
                                <div ng-show="eventForm.name_{{$index}}.$error.required">To pole jest wymagane.</div>
                            </div>
                        </div>

                        <div class="form-group col-md-11"  ng-if="field.type == 3" >
                            <label class="custom-select-label pull-left">{{ field.label }}</label>
                            <select ng-model="field.value" name="name_{{ $index }}" class="form-control" required>
                                <option ng-repeat="option in field.options | orderBy:'order'" value="{{option.value}}">
                                    {{option.value}}
                                </option>
                            </select>
                            <div class="input-error-message error-md-select" ng-show="eventForm.$submitted || eventForm.name_{{$index}}.$touched">
                                <div ng-show="eventForm.name_{{$index}}.$error.required">To pole jest wymagane.</div>
                            </div>
                        </div>

                        <div ng-if="field.tooltip" class="col-md-1 grid-left-zero">
                            <md-icon class="event-manage-info">
                                <i class="fa fa-question-circle"></i>
                                <md-tooltip md-direction="right">
                                    {{ field.tooltip }}
                                </md-tooltip>
                            </md-icon>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="row pull-left" style="margin-left: 0">
                        <md-checkbox ng-model="form.regulation.general" class="text-justify" name="regulation" required>
                            Akceptuje warunki <a target="_blank" href="/assets/docs/participant-regulation.pdf">regulaminu</a> Registreo.pl
                        </md-checkbox>
                        <div class="input-error-message error-md-regulation" ng-show="eventForm.$submitted">
                            <div ng-show="!form.regulation.general">Akceptacja regulaminu jest wymagana.</div>
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <div class="row pull-left regulation-box">
                        <md-checkbox ng-model="form.regulation.data" class="text-justify" name="regulation-data" required>
                            Wyrażam zgodę na przetwarzanie moich danych osobowych przez właściciela wydarzenia w celach marketingowych.
                        </md-checkbox>
                        <div class="input-error-message error-md-regulation" ng-show="eventForm.$submitted">
                            <div ng-show="!form.regulation.data">Akceptacja przetwarzania danych jest wymagana.</div>
                        </div>
                    </div>
                </div>


                <md-button ng-show="!customFormSaveing" ng-click="saveApplicationForm(eventForm.$valid)" type="submit" class="btn1 pull-right md-button-custom"> Zarejestruj się </md-button>
                <i ng-show="customFormSaveing" class="fa fa-spinner fa-spin fa-2x save-spinner pull-right"></i>
            </form>
        </div>
    </div>
</div>