<div ng-controller="EventsListController">

    <div class="tab-spinner" ng-show="editEventLoading" style="margin-top: 300px;">
        <span us-spinner></span>
    </div>

    <section id="latest-item" class="animated fadeInUp" ng-show="!editEventLoading">
        <div class="container latest-post text-center">
            <h2 class="section-title">Nasze wydarzenia</h2>
            <div class="main-title-border-center"></div>
            <p class="section-title-caption text-center">Przykładowe wydarzenia, utworzone w Registreo.pl</p>
            <div id="latest-post">
                <div owl-carousel-item class="latest-post-item" ng-repeat="event in events" style="min-height: 635px;">
                    <div class="latest-post-img">
                        <a href="/{{ event.seo }}" target="_blank"><img  class="img-responsive" src="/assets/images/eventslist/{{ event.seo }}.jpg" alt="{{ event.name }}" /></a>
                    </div>
                    <a href="/{{ event.seo }}" target="_blank"><h2>{{ event.name }}</h2></a>
                    <div class="blog-date-time">
                        <i class="fa fa-calendar"></i> {{ event.start_date | date: 'dd-mm-yyyy H:mm'}} &nbsp;&nbsp;&nbsp;
                        <i class="fa fa-user"></i> {{ event.limit }} uczestników
                    </div>
                    <p>{{ event.description }}</p>
                    <a class="btn-blue btn-blue-md" href="/{{ event.seo }}" target="_blank">Zobacz wydarzenie</a>
                </div>
            </div>
        </div>
    </section>
</div>