{% extends 'AppBundle:Layout:index.html.twig' %}

{% block content %}
    <!--
<div class="search-bar">
    <a href="javascript:void(0)" class="search-header"><i class="fa fa-times"></i></a>
    <div class="container">
        <form action="" class="search-form">
            <input class="search-fild" type="text" placeholder="SEARCH...">
            <button class="search-submit"><i class="fa fa-arrow-right"></i></button>
        </form>
    </div>
</div>
-->

<!-- Slider -->
<div id="particles">
    <div id="particles-js"></div>
    <div class="particles-caption">
        <h2>Registreo <br><span id="js-rotating">Ułatwi pracę, Zaoszczędzi czas, Usprawni rejestrację, Nie wymaga konta płatności</span></h2>
        <p>Spersonalizuj swój formularz zgłoszeniowy dla potrzeb dowolnego wydarzenia. <br />Korzystaj z obsługi płatności. Nadzoruj listę zgłoszeń.</p>
        <a ui-sref="about" class="btn-blue btn-blue-lg">Zobacz więcej</a>
    </div>
    <div id="top-bottom">
        <a href="#about-us"><i class="fa fa-angle-double-down"></i></a>
    </div>
</div>

<section id="about-us" class="animated fadeInUp">
    <div class="container">
        <div class="col-md-6 our-mission">
            <h2 class="section-title">Nasza misja</h2>
            <div class="main-title-border-left"></div>
            <p class="text-justify" ng-include="'app/about/mission1.html'"></p>
            <p class="text-justify" ng-include="'app/about/mission2.html'"></p>
            <div class="row" ng-include="'app/about/strongPoints.html'"></div>
        </div>
        <div class="col-md-6 popular-questions">
            <h2 class="section-title">Często zadawane pytania</h2>
            <div class="main-title-border-left"></div>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" aria-expanded="true" data-parent="#accordion" href="#collapse1">
                                <i class="fa fa-chevron-circle-right"></i> W systemie nie ma potrzebnej mi funkcjonalności
                            </a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body text-justify" ng-include="'app/about/item1.html'"></div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                <i class="fa fa-chevron-circle-right"></i>Jak zintegrować konto płatności z Registreo?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body text-justify" ng-include="'app/about/item5.html'"></div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                <i class="fa fa-chevron-circle-right"></i> Czy można utworzyć tylko formularz rejestracji bez strony informacyjnej?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body text-justify" ng-include="'app/about/item2.html'"></div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                <i class="fa fa-chevron-circle-right"></i> W jaki sposób rozliczyć się z Registreo?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body text-justify" ng-include="'app/about/item3.html'"></div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                <i class="fa fa-chevron-circle-right"></i>Czy otrzymam fakturę VAT?
                            </a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body text-justify" ng-include="'app/about/item4.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="pricing-table">
    <div ng-include="'app/pricing/pricing-table.html'">
    </div>
</section>

{% endblock %}

