<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ status_text }}</title>
    <link rel="stylesheet" href="{{ asset('assets/css/style.min.css') }}" />
</head>
<body>
<img style="margin:20px;" height="60px" src="{{ asset('assets/images/logo-registreo.png') }}" alt="Registreo"/>
<div ng-controller="BreadcrumbCtrl" ng-show="breadcrumbVisible" class="ng-scope" id="breadcrumb-wrapper" aria-hidden="false" style="margin-top:20px;">
    <div class="container">
        <div class="pull-left breadcrumb-title">
            <h2 ng-bind="breadcrumb.title" class="ng-binding">Błąd 404</h2>
        </div>
        <div class="pull-right breadcrumb">
            <ul>
                <li><i class="fa fa-home"></i><a href="/">Start</a></li>
                <li class="ng-scope active" style="">
                    <a href="javascript:void(0)" class="ng-binding">Błąd 404</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h1>Wystąpił błąd.</h1>
        <h2>
            Przepraszamy, strona której szukasz nie została znaleziona.
        </h2>
        <h3>
            <a href="/">Pzejdź na stronę główną.</a>
        </h3>
    </div>
    <div class="col-sm-2"></div>
</div>


</body>
</html>