<footer ng-controller="CustomFooterCtrl" >
    <div class="container">
        <div class="col-md-3">
            <h3>Załączniki</h3>
            <ul>
                <li><a  target="_blank" href="{{ asset('assets/docs/participant-regulation.pdf') }}">Regulamin</a></li>
                <li><a  target="_blank" href="{{ asset('assets/docs/private-policy.pdf') }}">Polityka prywatności</a></li>
                <li><a  target="_blank" href="{{ asset('assets/docs/cookie-policy.pdf') }}">Polityka plików cookie</a></li>
            </ul>
        </div>
        <div class="col-md-3 address">
            <h3>Adres</h3>
            <p><i class="fa fa-map-marker"></i>&nbsp;&nbsp; Poznań</p>
            <p><i class="fa fa-phone"></i>&nbsp;&nbsp; 507292251 lub 602443024 <br /> <i class="fa fa-envelope-o"></i>&nbsp;&nbsp; registreo@registreo.pl</p>
        </div>
        <div class="col-md-3 social">
            <h3>Płatności</h3>
            <img class="footer-payment" src="{{ asset('assets/images/dotpay_logo.png') }}" width="250px" />
        </div>
    </div>
    <div class="copy-right text-center">
        <p>&copy 2016 Registreo</p>
    </div>
</footer>
<div id="back-top"><a href="#top"><i class="fa fa-chevron-up"></i></a></div>