<header ng-controller="CustomHeaderCtrl" id="sticky_navigation" class="menu_header">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <div class="logo">
                    <a class="pull-left" href="javascript:void(0)" ng-click="home()">
                        <img height="60px" src="{{ asset('assets/images/logo-registreo.png') }}" alt="Registreo"/>
                    </a>
                    <div class="navbar-header pull-right">
                        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-xs-12">
                <nav class="navbar navbar-default menu pull-right">
                    <div class="navbar-collapse collapse" id="navbar">
                        <ul class="nav navbar-nav">
                            {% if page.isActive %}
                                <li class="{% verbatim %} {{ isActive('') }} {% endverbatim %}">
                                    <a ui-sref="home({eventName: eventName})" >O wydarzeniu</a>
                                </li>
                            {% endif %}
                            
                            {% if page.event.getClosed == 0  or participant != null %}


                                {% if form.isActive  %}
                                    {% if  registrationFinished != true %}
                                        <li class="{% verbatim %} {{ isActive('register') }} {% endverbatim %}">
                                            <a  ui-sref="register({eventName: eventName})">Zarejestruj się</a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <md-content class="inactive-menu-link">
                                                Zarejestruj się
                                                <md-tooltip>
                                                    Rejestracja została zakończona.
                                                </md-tooltip>
                                            </md-content>
                                        </li>
                                    {% endif %}
                                {% else %}
                                    <li>
                                        <md-content class="inactive-menu-link">
                                            Zarejestruj się
                                            <md-tooltip>
                                                Rejestracja nie jest jeszcze aktywna.
                                            </md-tooltip>
                                        </md-content>
                                    </li>
                                {% endif %}
                            {% endif %}

                            {% if page.listView and form.isActive %}
                                <li class="{% verbatim %} {{ isActive('list') }} {% endverbatim %}">
                                    <a ui-sref="list({eventName: eventName})">Lista uczestników</a>
                                </li>
                            {% endif %}

                            <li class="{% verbatim %} {{ isActive('owner-information') }} {% endverbatim %}">
                                <a ui-sref="owner-information({eventName: eventName})">O właścicielu</a>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </nav>
            </div>
        </div>
    </div>
</header>

