<!DOCTYPE HTML>
<html lang="utf-8" ng-app="registreoAppCustom" class="no-js">
<head>
    <meta charset="UTF-8">
    <title>{{event.getName()}} - registreo.pl</title>
    <meta name="description" content="{{event.getDescription()}}">
    <meta name="keywords" content="Registreo, Personifikacja, Kastomizacja, Event, Zdarzenie, Wydarzenie, Formularze, Własna strona, Płatności, Przelewy">
    <meta name="author" content="ITWINS, MIROLABS">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"  href="{{ asset('assets/images/Registreo.png') }}?v=2">
    <link rel="stylesheet" href="{{ asset('assets/css/registreo-custom.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/style.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bower_components/angular-material/angular-material.css') }}">
    <link rel="stylesheet" href="/app/css/{{style}}" />
</head>
<body>
    <div id="preloader"></div>
    {{ include ('CustomPageBundle:Layout:header.html.twig') }}

    <div class="content-menu-margin">
        <block ng-init="ngview.show = false" ng-show="!ngview.show">
            {% block content %}
            {% endblock %}
        </block>
        <div ui-view ng-show="ngview.show" class="contentView" id="contentView" ng-init="participant={{participantJson}}; eventForm={{ formJson }}; eId = {{ event.id }}; ownerData = {{ ownerData }}; freeAccount = {{ event.user.freeAccount }}; endRegistration = {{  endRegistration }}; registrationFinished = {{  registrationFinished }};"></div>
    </div>

    {{ include ('CustomPageBundle:Layout:footer.html.twig') }}

    <!-- this is all scripts from bower  -->
    <script src="{{ asset('bower_components/jquery/dist/jquery.js') }}"></script>
    <script src="{{ asset('bower_components/underscore/underscore.js') }}"></script>
    <script src="{{ asset('bower_components/angular/angular.js') }}"></script>
    <script src="{{ asset('bower_components/restangular/dist/restangular.js') }}"></script>
    <script src="{{ asset('bower_components/angular-aria/angular-aria.js') }}"></script>
    <script src="{{ asset('bower_components/angular-animate/angular-animate.js') }}"></script>
    <script src="{{ asset('bower_components/angular-sanitize/angular-sanitize.js') }}"></script>
    <script src="{{ asset('bower_components/angular-material/angular-material.js') }}"></script>
    <script src="{{ asset('bower_components/angular-ui-router/release/angular-ui-router.js') }}"></script>
    <script src="{{ asset('bower_components/angular-ui-router.stateHelper/statehelper.js') }}"></script>
    <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js') }}"></script>
    <script src="{{ asset('bower_components/spin.js/spin.js') }}"></script>
    <script src="{{ asset('bower_components/angular-spinner/angular-spinner.js') }}"></script>
    <script src="{{ asset('bower_components/angular-recaptcha/release/angular-recaptcha.js') }}"></script>
    <script src="{{ asset('bower_components/angular-google-maps/dist/angular-google-maps.js') }}"></script>
    <script src="{{ asset('bower_components/angular-simple-logger/dist/angular-simple-logger.js') }}"></script>

    <!-- this is all scripts from  other libraries  -->
    <script src="{{ asset('assets/js/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ asset('assets/js/script.js') }}"></script>
    <script src="{{ asset('assets/js/animated.js') }}"></script>
    <script src="{{ asset('assets/js/owl/owl.carousel.js') }}"></script>

    <!-- this is our scripts  in order services, controllers, directives -->
    <script src="{{ asset('app/appCustom.js') }}"></script>
    
    <!--own services-->
    <script src="{{ asset('app/payment/js/services/PaymentService.js') }}"></script>
    <script src="{{ asset('app/event/js/services/CustomPaginService.js') }}"></script>
    <script src="{{ asset('app/event/js/services/CustomPageService.js') }}"></script>
    <script src="{{ asset('app/mailer-service/mailer-service.js') }}"></script>
    <script src="{{ asset('app/notifications/notifications-service.js') }}"></script>
    
    
    <!-- cms elements-->
    <script src="{{ asset('app/custom-page/js/directives/elements/Banner.js') }}"></script>
    <script src="{{ asset('app/custom-page/js/directives/elements/AdvancedBanner.js') }}"></script>
    <script src="{{ asset('app/custom-page/js/directives/elements/MainParagraph.js') }}"></script>
    <script src="{{ asset('app/custom-page/js/directives/elements/Paragraph.js') }}"></script>
    <script src="{{ asset('app/custom-page/js/directives/elements/Map.js') }}"></script>
    <script src="{{ asset('app/custom-page/js/directives/elements/Contact.js') }}"></script>
    <script src="{{ asset('app/custom-page/js/directives/elements/ContactForm.js') }}"></script>
    <script src="{{ asset('app/custom-page/js/directives/elements/RegCarousel.js') }}"></script>

    
    
    <script src="{{ asset('app/custom-page/js/controllers/HomeCtrl.js') }}"></script>
    <script src="{{ asset('app/custom-page/js/controllers/RegisterFormCtrl.js') }}"></script>
    <script src="{{ asset('app/custom-page/js/controllers/UserListCtrl.js') }}"></script>
    <script src="{{ asset('app/custom-page/js/controllers/PaymentFormCtrl.js') }}"></script>
    <script src="{{ asset('app/custom-page/js/controllers/PaymentStatusCtrl.js') }}"></script>
    <script src="{{ asset('app/custom-page/js/controllers/RegistrationStatusCtrl.js') }}"></script>
    <script src="{{ asset('app/custom-page/js/controllers/OwnerInformationCtrl.js') }}"></script>
    <script src="{{ asset('app/notifications/notifications.js') }}"></script>
    <script src="{{ asset('app/notifications/notifications-controller.js') }}"></script>
    <script src="{{ asset('bundles/custompage/js/controller/CustomHeaderCtrl.js') }}"></script>
    <script src="{{ asset('bundles/custompage/js/controller/CustomFooterCtrl.js') }}"></script>
</body>
</html>
