{% set title = params[0] %}
{% set path = params[1] %}

<a target='_blank' style='display:inline-block;padding:15px;font-size:13px;text-decoration:none;background:#1C80C9;color:#E5F5FF;
    border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;margin:20px 0;'
   href="{{ path }}">
    {{ title }}
</a>