{% set color = '#cfeafa' %}
{% if params[3] is defined and params[3] != false %} {# change color to dark #}
    {% set color = '#232425' %}
{% endif %}

<p style="font-size:13px;color:{{ color }};line-height:19px;margin: 10px 0;">
    {{ params[2] }}<a href="{{ params[0]}}" target="_blank">{{params[1]}}</a>
</p>