{% set color = '#cfeafa' %}
{% if params[1] is defined and params[1] != false %} {# change color to dark #}
    {% set color = '#232425' %}
{% endif %}

<p style="font-size:13px;color:{{ color }};line-height:19px;margin: 10px 0;">
    {{ params[0] }}
</p>